{% extends 'teacher/master.html' %}
{% load static %}
{% block content %}


<link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap@4.6.1/dist/css/bootstrap.min.css" integrity="sha384-zCbKRCUGaJDkqS1kPbPd7TveP5iyJE0EjAuZQTgFLD2ylzuqKfdKlfG/eSrtxUkn" crossorigin="anonymous">
<script src="https://cdn.jsdelivr.net/npm/jquery@3.5.1/dist/jquery.slim.min.js" integrity="sha384-DfXdz2htPH0lsSSs5nCTpuj/zy4C+OGpamoFVy38MVBnE+IbbVYUew+OrCXaRkfj" crossorigin="anonymous"></script>
<script src="https://cdn.jsdelivr.net/npm/bootstrap@4.6.1/dist/js/bootstrap.bundle.min.js" integrity="sha384-fQybjgWLrvvRgtW6bFlB7jaZrFsaBXjsOMm/tB9LTS58ONXgqbR9W8oWht/amnpF" crossorigin="anonymous"></script>

<div class="page-wrapper">
    <div class="content container-fluid">
        <div class="page-header">
            <div class="row">
                <div class="col-sm-6">
                    <h3 class="page-title">Settings</h3>
                    <ul class="breadcrumb">
                        <li class="breadcrumb-item"><a href="{% url 'teacher:homepage' %}">Dashboard</a></li>
                        <li class="breadcrumb-item"><a href="{% url 'teacher:profile' %}">Profile</a></li>
                        <li class="breadcrumb-item active">Profile Settings</li>
                    </ul>
                </div>
            </div>
        </div>


        <div class="row">
            <div class="col-3">
              <div class="nav flex-column nav-pills" id="v-pills-tab" role="tablist" aria-orientation="vertical">
                <a class="nav-link active" id="v-pills-home-tab" data-toggle="pill" href="#v-pills-home" role="tab" aria-controls="v-pills-home" aria-selected="true"><i class="fa fa-user" ></i> <span>Basic Details Settings</span></a>

                <a class="nav-link" id="v-pills-profile-tab" data-toggle="pill" href="#v-pills-profile" role="tab" aria-controls="v-pills-profile" aria-selected="false"><i class="fa fa-users"></i> <span>Address Settings</span></a>

                <a class="nav-link" id="v-pills-messages-tab" data-toggle="pill" href="#v-pills-messages" role="tab" aria-controls="v-pills-messages" aria-selected="false"><i class="fas fa-chalkboard-teacher"></i> <span>Professional Settings</span></a>

                <!-- <a class="nav-link" id="v-pills-psw-tab" data-toggle="pill" href="#v-pills-psw" role="tab" aria-controls="v-pills-messages" aria-selected="false"><i class="fas fa-unlock-alt"></i> <span>Change Password</span></a> -->

                <!-- <a class="nav-link" id="v-pills-acc-tab" data-toggle="pill" href="#v-pills-acc" role="tab" aria-controls="v-pills-messages" aria-selected="false"><i class="fas fa-ban"></i> <span>Delete Account</span></a> -->
              </div>
            </div>
            <div class="col-9">
              <div class="tab-content" id="v-pills-tabContent">

                <div class="tab-pane fade show active" id="v-pills-home" role="tabpanel" aria-labelledby="v-pills-home-tab">
                    <div class="col-xl-12 col-md-12">
                        <div class="card">
                            <div class="card-header">
                                <h5 class="card-title">Basic information</h5>
                            </div>
                            <div class="card-body">
                                <form method="POST" name="form1" id="form1">
                                    {% csrf_token %}
                                    <div class="row form-group">
                                        <label for="name" class="col-sm-3 col-form-label input-label">Name</label>
                                        <div class="col-sm-9">
                                            <div class="d-flex align-items-center">
                                                <label class="avatar avatar-xxl profile-cover-avatar m-0" for="edit_img">
                                                    <img id="avatarImg" class="avatar-img"
                                                        src="{% static 'default.jpg' %}"
                                                        alt="Profile Image">
                                                    <input type="file" id="edit_img">
                                                    <span class="avatar-edit">
                                                        <i class="fa fa-pen"  class="avatar-uploader-icon shadow-soft"></i>
                                                    </span>
                                                </label>
                                            </div>
                                        </div>
                                    </div>
                                    <div class="row form-group">
                                        <label for="name" class="col-sm-3 col-form-label input-label">Name</label>
                                        <div class="col-sm-9">
                                            <input type="text" class="form-control" id="name" placeholder="Your Name"
                                                value="{{edit_teacher.name}}" name="name" required>
                                        </div>
                                    </div>
                                    <div class="row form-group">
                                        <label for="Student ID" class="col-sm-3 col-form-label input-label">Staff ID</label>
                                        <div class="col-sm-9">
                                            <input type="text" class="form-control" id="Student ID" placeholder="Student ID"
                                                value="{{edit_teacher.teacher_id}}" name="id" required readonly>
                                        </div>
                                    </div>
                                    <div class="row form-group">
                                        <label for="gender" class="col-sm-3 col-form-label input-label">Gender</label>
                                        <div class="col-sm-9">
                                            <input type="text" class="form-control" id="gender" placeholder="Gender"
                                                value="{{edit_teacher.gender}}" name="gender" required readonly>
                                        </div>
                                    </div>
                                    <div class="row form-group">
                                        <label for="dob" class="col-sm-3 col-form-label input-label">DOB</label>
                                        <div class="col-sm-9">
                                            <input type="date" class="form-control" id="dob" placeholder="dob"
                                                value="{{edit_teacher.dob|date:"Y-m-d"}}" name="dob" required readonly>
                                        </div>
                                    </div>
                                    <div class="row form-group">
                                        <label for="email" class="col-sm-3 col-form-label input-label">Email</label>
                                        <div class="col-sm-9">
                                            <input type="email" class="form-control" id="email" placeholder="Email"
                                                value="{{edit_teacher.email}}" name="email" required readonly>
                                        </div>
                                    </div>
                                    <div class="row form-group">
                                        <label for="phone" class="col-sm-3 col-form-label input-label">Phone <span
                                                class="text-muted">(Optional)</span></label>
                                        <div class="col-sm-9">
                                            <input type="text" class="form-control" id="phone" placeholder="+x(xxx)xxx-xx-xx"
                                                value="{{edit_teacher.phone}}" name="phone" required >
                                        </div>
                                    </div>
                                    <div class="text-end">
                                        <button type="submit" class="btn btn-primary">Save Changes</button>
                                    </div>
                                </form>
        
                            </div>
                        </div>
                    </div>
                </div>

                <div class="tab-pane fade" id="v-pills-profile" role="tabpanel" aria-labelledby="v-pills-profile-tab">
                    <div class="col-xl-12 col-md-12">
                        <div class="card">
                            <div class="card-header">
                                <h5 class="card-title">Contact information</h5>
                            </div>
                            <div class="card-body">
                                <form method="POST" name="form2" id="form2">
                                    {% csrf_token %}
                                    <div class="row form-group">
                                        <label for="address" class="col-sm-3 col-form-label input-label">Address</label>
                                        <div class="col-sm-9">
                                            <textarea name="address" id="address" class="form-control" cols="30" rows="10" required>{{edit_teacher.address}}</textarea>
                                        </div>
                                    </div>
                                    <div class="row form-group">
                                        <label for="city" class="col-sm-3 col-form-label input-label">City</label>
                                        <div class="col-sm-9">
                                            <input type="text" class="form-control" id="city" placeholder="Your City Name"
                                                value="{{edit_teacher.city}}" name="city" required>
                                        </div>
                                    </div>
                                    <div class="row form-group">
                                        <label for="district" class="col-sm-3 col-form-label input-label">State</label>
                                        <div class="col-sm-9">
                                            <input type="text" class="form-control" id="district" placeholder="Your District Name"
                                                value="{{edit_teacher.state}}" name="state" required>
                                        </div>
                                    </div>
                                    <div class="row form-group">
                                        <label for="district" class="col-sm-3 col-form-label input-label">Country</label>
                                        <div class="col-sm-9">
                                            <input type="text" class="form-control" id="district" placeholder="Your District Name"
                                                value="{{edit_teacher.country}}" name="country" required>
                                        </div>
                                    </div>
                                    <div class="row form-group">
                                        <label for="pin" class="col-sm-3 col-form-label input-label">Zip Code</label>
                                        <div class="col-sm-9">
                                            <input type="text" class="form-control" id="pin" placeholder="Your zipcode"
                                                value="{{edit_teacher.pin}}" name="zipcode" required>
                                        </div>
                                    </div>
                                    <div class="text-end">
                                        <button type="submit" class="btn btn-primary">Save Changes</button>
                                    </div>
                                </form>
        
                            </div>
                        </div>
                    </div>
                </div>


                <div class="tab-pane fade" id="v-pills-messages" role="tabpanel" aria-labelledby="v-pills-messages-tab">
                    <div class="col-xl-12 col-md-12">
                        <div class="card">
                            <div class="card-header">
                                <h5 class="card-title">Professional information</h5>
                            </div>
                            <div class="card-body">
                                <form method="POST" name="form3" id="form3">
                                    {% csrf_token %}
                                    <div class="row form-group">
                                        <label for="admissionnum" class="col-sm-3 col-form-label input-label">Staff ID</label>
                                        <div class="col-sm-9">
                                            <input type="text" class="form-control" id="admissionnum" placeholder="Your ID"
                                                value="{{edit_teacher.teacher_id}}" name="id">
                                        </div>
                                    </div>
                                    
                                    <div class="row form-group">
                                        <label for="jdate" class="col-sm-3 col-form-label input-label">Joining Date</label>
                                        <div class="col-sm-9">
                                            <input type="date" class="form-control" id="jdate" placeholder="Joining Dtae"
                                                value="{{edit_teacher.joining_date|date:"Y-m-d"}}" name="joiningdate" disabled>
                                        </div>
                                    </div>
                                    <div class="row form-group">
                                        <label for="qualification" class="col-sm-3 col-form-label input-label">Qualification</label>
                                        <div class="col-sm-9">
                                            <input type="text" class="form-control" id="qualification" placeholder="Qualification"
                                                value="{{edit_teacher.qualification}}" name="qualification">
                                        </div>
                                    </div>
                                    <div class="text-end">
                                        <button type="submit" class="btn btn-primary">Save Changes</button>
                                    </div>
                                </form>
        
                            </div>
                        </div>
                    </div>
                </div>


                <div class="tab-pane fade" id="v-pills-psw" role="tabpanel" aria-labelledby="v-pills-settings-tab">
                    <div class="col-xl-12 col-md-12 col-sm-12">
                        <div class="card">
                            <div class="card-header">
                                <h5 class="card-title">Change Password</h5>
                            </div>
                            <div class="card-body">

                                <form method="POST" name="form3" id="form3">
                                    <div class="row form-group">
                                        <label for="current_password"
                                            class="col-sm-3 col-form-label input-label">Current Password</label>
                                        <div class="col-sm-9">
                                            <input type="password" class="form-control" id="current_password"
                                                placeholder="Enter current password">
                                        </div>
                                    </div>
                                    <div class="row form-group">
                                        <label for="new_password" class="col-sm-3 col-form-label input-label">New
                                            Password</label>
                                        <div class="col-sm-9">
                                            <input type="password" class="form-control" id="new_password"
                                                placeholder="Enter new password">
                                            <div class="progress progress-md mt-2">
                                                <div class="progress-bar bg-danger" role="progressbar" style="width: 2%"
                                                    aria-valuenow="2" aria-valuemin="0" aria-valuemax="100"></div>
                                            </div>
                                        </div>
                                    </div>
                                    <div class="row form-group">
                                        <label for="confirm_password"
                                            class="col-sm-3 col-form-label input-label">Confirm new password</label>
                                        <div class="col-sm-9">
                                            <div class="mb-3">
                                                <input type="password" class="form-control" id="confirm_password"
                                                    placeholder="Confirm your new password">
                                            </div>
                                            <h5>Password requirements:</h5>
                                            <p class="mb-2">Ensure that these requirements are met:</p>
                                            <ul class="list-unstyled small">
                                                <li>Minimum 8 characters long - the more, the better</li>
                                                <li>At least one lowercase character</li>
                                                <li>At least one uppercase character</li>
                                                <li>At least one number, symbol</li>
                                            </ul>
                                        </div>
                                    </div>
                                    <div class="text-end">
                                        <button type="submit" class="btn btn-primary">Save Changes</button>
                                    </div>
                                </form>

                            </div>
                        </div>
                    </div>
                </div>
                <!-- <div class="tab-pane fade" id="v-pills-acc" role="tabpanel" aria-labelledby="v-pills-settings-tab">
                    <div class="col-xl-9 col-md-8">
                        <div class="card">
                            <div class="card-header">
                                <h5 class="card-title">Delete your account</h5>
                            </div>
                            <div class="card-body">

                                <form>
                                    <p class="card-text">When you delete your account, you lose access to Kanakku
                                        account services, and we permanently delete your personal data.</p>
                                    <p class="card-text">Are you sure you want to close your account?</p>
                                    <div class="form-group">
                                        <div class="custom-control custom-checkbox">
                                            <input type="checkbox" class="custom-control-input" id="delete_account">
                                            <label class="custom-control-label text-danger" for="delete_account">Confirm
                                                that I want to delete my account.</label>
                                        </div>
                                    </div>
                                    <div class="text-end">
                                        <button type="submit" class="btn btn-primary">Save Changes</button>
                                    </div>
                                </form>

                            </div>
                        </div>
                    </div>
                </div> -->
              </div>
            </div>
          </div>
              
    </div>
</div>

{% endblock %}
