{% load static %}

<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>ABC TRAINING ACADEMY</title>

    <link rel="shortcut icon" href="{% static 'websites/logo.webp' %}">

    <link rel="stylesheet" href="{% static 'teacher/css/bootstrap.min.css' %}">

    <link rel="stylesheet" href="{% static 'teacher/plugins/fontawesome/css/fontawesome.min.css' %}">
    <link rel="stylesheet" href="{% static 'teacher/plugins/fontawesome/css/all.min.css' %}">

    <link rel="stylesheet" href="{% static 'teacher/css/style.css' %}">

    <link rel="stylesheet" href=" {% static 'teacher/plugins/datatables/datatables.min.css' %}">

</head>

<body class="nk-body bg-lighter npc-default has-sidebar no-touch nk-nio-theme">

    <!-- Header================================================== -->
    <div class="main-wrapper">
        <div class="header header-one">

            <div class="header-left header-left-one">
                <a href="" class="logo">
                    <img src="{% static 'websites/logo.webp' %}" alt="Logo">
                </a>
                <a href="" class="white-logo">
                    <img src="{% static 'websites/logo.webp' %}" alt="Logo">
                </a>
                <a href="" class="logo logo-small">
                    <img src="{% static 'websites/logo.webp' %}" alt="Logo" width="30" height="30">
                </a>
            </div>


            <a href="javascript:void(0);" id="toggle_btn">
                <i class="fas fa-bars"></i>
            </a>



            <a class="mobile_btn" id="mobile_btn">
                <i class="fas fa-bars"></i>
            </a>


            <ul class="nav nav-tabs user-menu">


                <li class="nav-item dropdown has-arrow main-drop">
                    <a href="#" class="dropdown-toggle nav-link" data-bs-toggle="dropdown">
                        <!-- <span class="user-img">
                            <img src="{% static 'teacher/img/profiles/avatar-01.jpg' %}" alt="">
                            <span class="status online"></span>
                        </span> -->
                        <span>{{teacher.name|upper}}</span>
                    </a>
                    <div class="dropdown-menu">
                        <!-- <a class="dropdown-item" href=""><i class="fa fa-user" class="me-1"></i>&nbsp;
                            Profile</a>
                        <a class="dropdown-item" href=""><i class="fa fa-cog" class="me-1"></i>&nbsp;
                            Settings</a> -->
                        <a class="dropdown-item" href="{% url 'admins:logout_view' %}"><i class="fa fa-sign-out-alt" class="me-1"></i>&nbsp;
                            Logout</a>
                    </div>
                </li>

            </ul>

        </div>
        


        <div class="sidebar" id="sidebar">
            <div class="sidebar-inner slimscroll">
                <div id="sidebar-menu" class="sidebar-menu">
                    <ul>
                        <li class="menu-title"><span>Main</span></li>
                        <!-- <li {% if is_homepage %} class="active" {% endif %}>
                            <a href="{% url 'teacher:homepage' %}"><i class="fa fa-th"></i> <span>Dashboard</span></a>
                        </li> -->
                        <!-- <li class="submenu" {% if is_profile %} class="active" {% elif is_editprofile %} class="active" {% endif %}>
                            <a href=""><i class="fa fa-address-card"></i> <span> My Profile</span> <span
                                    class="menu-arrow"></span></a>
                            <ul>
                                <li><a href="{% url 'teacher:profile' %}">My Profile</a></li>
                                {% comment %} <li><a href="{% url 'teacher:editprofile' teacher.id teacher.cid teacher.pid %}">Edit Profile</a></li> {% endcomment %}
                            </ul>
                        </li> -->
                        <!-- <li {% if  is_courses%} class="active" {% endif %}>
                            <a href="{% url 'teacher:courses' %}"><i class="fa fa-address-card"></i> <span>Courses</span></a>
                        </li> -->
                        <li {% if is_profile  %} class="active" {% endif %}>
                            <a href="{% url 'teacher:profile' %}"><i class="fa fa-book"></i> <span>My Profile</span></a>
                        </li>
                        <!-- <li {% if is_studentlist %} class="active" {% elif is_coursewisestudentlist %} class="active" {% endif %}>
                            <a href="{% url 'teacher:studentlist' %}"><i class="fa fa-user"></i> <span>Student</span></a>
                        </li> -->
                        <!-- <li {% if is_result %} class="active" {% endif %}>
                            <a href="{% url 'teacher:result' %}"><i class="fa fa-list-alt"></i> <span>Result</span></a>
                        </li>
                        <li {% if is_calander %} class="active" {% endif %}>
                            <a href="{% url 'teacher:calander' %}"><i class="fa fa-calendar"></i> <span>Calander</span></a>
                        </li> -->
                    </ul>
                </div>
            </div>
        </div>


        {% block content %}


        {% endblock %}

    </div>


<!-- Common JS -->
<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.6.0/jquery.min.js"></script>
<script src="{% static 'teacher/js/jquery-3.6.0.min.js' %}"></script>
<script src="{% static 'teacher/js/bootstrap.bundle.min.js' %}"></script>
<script src="{% static 'teacher/js/feather.min.js' %}"></script>
<script src="{% static 'teacher/plugins/slimscroll/jquery.slimscroll.min.js' %}"></script>
<script src="{% static 'teacher/plugins/apexchart/apexcharts.min.js' %}"></script>
<script src="{% static 'teacher/plugins/apexchart/chart-data.js' %}"></script>
{% comment %} <script src="{% static 'teacher/js/script.js' %}"></script> {% endcomment %}

<!-- calender JS -->
<script src="{% static 'teacher/plugins/moment/moment.min.js' %}"></script>
<script src="{% static 'teacher/js/bootstrap-datetimepicker.min.js' %}"></script>

<script src="{% static 'teacher/js/jquery-ui.min.js' %} "></script>
<script src="{% static 'teacher/plugins/fullcalendar/fullcalendar.min.js' %}"></script>
<script src="{% static 'teacher/plugins/fullcalendar/jquery.fullcalendar.js' %}"></script>

<script src="{% static 'teacher/plugins/datatables/jquery.dataTables.min.js' %}"></script>
<script src="{% static 'teacher/plugins/datatables/datatables.min.js' %} "></script>


<script>

    // datatable
    if ($('.datatable').length > 0) {
        $('.datatable').DataTable({
            language: {
                search: '<i class="fas fa-search"></i>',
                searchPlaceholder: "Search"
            }
        });
    }
    // end datatable


    if ($('.datetimepicker').length > 0) {
        $('.datetimepicker').datetimepicker({
            format: 'DD-MM-YYYY',
            icons: {
                up: "fas fa-angle-up",
                down: "fas fa-angle-down",
                next: 'fas fa-angle-right',
                previous: 'fas fa-angle-left'
            }
        });
    }

    //    toggle
    $(document).on('click', '#toggle_btn', function () {
        if ($('body').hasClass('mini-sidebar')) {
            $('body').removeClass('mini-sidebar');
            $('.subdrop + ul').slideDown();
        } else {
            $('body').addClass('mini-sidebar');
            $('.subdrop + ul').slideUp();
        }
        setTimeout(function () {
            mA.redraw();
            mL.redraw();
        }, 300);
        return false;
    });


    // filters
    $(document).on('click', '#filter_search', function () {
        $('#filter_inputs').show();
    });

    // selectbox
    $('.app-listing .selectBox').on("click", function () {
        $(this).parent().find('#checkBoxes').fadeToggle();
        $(this).parent().parent().siblings().find('#checkBoxes').fadeOut();
    });

    $('.invoices-main-form .selectBox').on("click", function () {
        $(this).parent().find('#checkBoxes-one').fadeToggle();
        $(this).parent().parent().siblings().find('#checkBoxes-one').fadeOut();
    });
    

    // Variables declarations

    var $wrapper = $('.main-wrapper');
    var $pageWrapper = $('.page-wrapper');
    var $slimScrolls = $('.slimscroll');

    // Sidebar
    var Sidemenu = function () {
        this.$menuItem = $('#sidebar-menu a');
    };

    function init() {
        var $this = Sidemenu;
        $('#sidebar-menu a').on('click', function (e) {
            if ($(this).parent().hasClass('submenu')) {
                e.preventDefault();
            }
            if (!$(this).hasClass('subdrop')) {
                $('ul', $(this).parents('ul:first')).slideUp(350);
                $('a', $(this).parents('ul:first')).removeClass('subdrop');
                $(this).next('ul').slideDown(350);
                $(this).addClass('subdrop');
            } else if ($(this).hasClass('subdrop')) {
                $(this).removeClass('subdrop');
                $(this).next('ul').slideUp(350);
            }
        });
        $('#sidebar-menu ul li.submenu a.active').parents('li:last').children('a:first').addClass('active').trigger('click');
    }

    // Sidebar Initiate
    init();

    // Mobile menu sidebar overlay
    $('body').append('<div class="sidebar-overlay"></div>');
    $(document).on('click', '#mobile_btn', function () {
        $wrapper.toggleClass('slide-nav');
        $('.sidebar-overlay').toggleClass('opened');
        $('html').toggleClass('menu-opened');
        return false;
    });

    // Sidebar overlay
    $(".sidebar-overlay").on("click", function () {
        $wrapper.removeClass('slide-nav');
        $(".sidebar-overlay").removeClass("opened");
        $('html').removeClass('menu-opened');
    });

    // Page Content Height
    if ($('.page-wrapper').length > 0) {
        var height = $(window).height();
        $(".page-wrapper").css("min-height", height);
    }

    // Page Content Height Resize
    $(window).resize(function () {
        if ($('.page-wrapper').length > 0) {
            var height = $(window).height();
            $(".page-wrapper").css("min-height", height);
        }
    });

    // Select 2
    if ($('.select').length > 0) {
        $('.select').select2({
            minimumResultsForSearch: -1,
            width: '100%'
        });
    }


</script>

</body>

</html>