{% extends 'teacher/master.html' %}
{% load static %}
{% block content %}


<div class="page-wrapper">
    <div class="content container-fluid">
        <div class="row justify-content-lg-center">
            <div class="col-lg-10">

                <div class="page-header">
                    <div class="row">
                        <div class="col">
                            <h3 class="page-title">Profile</h3>
                            <ul class="breadcrumb">
                                <li class=""><a href="{% url 'teacher:homepage' %}">Dashboard / </a></li>
                                <li class="breadcrumb-item active">Profile</li>
                            </ul>
                        </div>
                    </div>
                </div>

                <div class="profile-cover">
                    <div class="profile-cover-wrap">
                        <img class="profile-cover-img" src="{% static 'teacher/img/profiles/avatar-02.jpg' %}"
                            alt="Profile Cover">

                        <div class="cover-content">
                            <div class="custom-file-btn">
                                <input type="file" class="custom-file-btn-input" id="cover_upload">
                                <label class="custom-file-btn-label btn btn-sm btn-white" for="cover_upload">
                                    <i class="fas fa-camera"></i>
                                    <span class="d-none d-sm-inline-block ms-1">Update Cover</span>
                                </label>
                            </div>
                        </div>

                    </div>
                </div>
                <div class="text-center mb-5">
                    <label class="avatar avatar-xxl profile-cover-avatar" for="avatar_upload">
                        <img class="avatar-img" src="{% static 'teacher/img/profiles/avatar-02.jpg' %}"
                            alt="Profile Image">
                        <input type="file" id="avatar_upload">
                        <span class="avatar-edit">
                            <i class="fa fa-pen" class="avatar-uploader-icon shadow-soft"></i>
                        </span>
                    </label>
                    <h2>Charles Hafner <i class="fas fa-certificate text-primary small" data-toggle="tooltip"
                            data-placement="top" title="" data-original-title="Verified"></i></h2>
                    <ul class="list-inline">
                        <li class="list-inline-item">
                            <i class="far fa-building"></i> <span>Hafner Pvt Ltd.</span>
                        </li>
                        <li class="list-inline-item">
                            <i class="fas fa-map-marker-alt"></i> West Virginia, US
                        </li>
                        <li class="list-inline-item">
                            <i class="far fa-calendar-alt"></i> <span>Joined November 2017</span>
                        </li>
                    </ul>
                </div>
                <div class="row">
                    <div class="col-lg-8">
                        <div class="card bg-white">
                            <div class="card-header">
                                <h5 class="card-title d-flex justify-content-between">
                                    <span>Profile</span>
                                    <a class="btn btn-sm btn-white" href="{% url 'teacher:editprofile' %}">Edit</a>
                                </h5>
                            </div>
                            <div class="card-body">
                                <ul class="nav nav-tabs nav-tabs-solid">
                                    <li class="nav-item"><a class="nav-link active" href="#solid-tab1"
                                            data-bs-toggle="tab">About</a></li>
                                    <li class="nav-item"><a class="nav-link" href="#solid-tab2"
                                            data-bs-toggle="tab">Contact</a></li>
                                    <li class="nav-item"><a class="nav-link" href="#solid-tab3"
                                            data-bs-toggle="tab">Professional Details</a></li>
                                </ul>
                                <div class="tab-content">
                                    <div class="tab-pane show active" id="solid-tab1">
                                        <ul class="list-unstyled mb-0">
                                            <li class="py-0">
                                                <small class="text-dark"><b><span>About</span></b></small>
                                            </li>
                                            <li>
                                                Charles Hafner
                                            </li>
                                            <li>
                                                ABC125874
                                             </li>
                                            <li>
                                                male
                                            </li>
                                            <li>
                                               22/02/1999
                                            </li>
                                            <li>
                                                7510661741
                                            </li>
                                            <li>
                                                john@gmail.com
                                            </li>
                                        </ul>
                                    </div>




                                    <div class="tab-pane" id="solid-tab2">
                                        <ul class="list-unstyled mb-0">
                                            <li class="pt-2 pb-0">
                                                <small class="text-dark">Contacts</small>
                                            </li>
                                            <li>
                                                <a href="/cdn-cgi/l/email-protection" class="__cf_email__"
                                                    data-cfemail="71121910031d14021910171f1403311409101c011d145f121e1c">[email&#160;protected]</a>
                                            </li>
                                            <li>
                                                +1 (304) 499-13-66
                                            </li>
                                            <li class="pt-2 pb-0">
                                                <small class="text-dark">Address</small>
                                            </li>
                                            <li>
                                                4663 Agriculture Lane,<br>
                                                Miami,<br>
                                                Florida - 33165,<br>
                                                United States.
                                            </li>
                                        </ul>
                                    </div>

                                    <div class="tab-pane" id="solid-tab3">
                                        <ul class="list-unstyled mb-0">
                                            <li>
                                                26/09/2022
                                            </li>
                                            <li>
                                               qualification
                                            </li>
                                        </ul>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>

                    <div class="col-lg-4">
                        <div class="card" style="height: 340px;">
                            <div class="card-header">
                                <h5 class="card-title">Activity</h5>
                            </div>
                            <div class="card-body card-body-height col-12  text-center">
                                <button type="button" class="btn btn-block btn-outline-success active col-8">Active</button>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
    
</div>
</div>
</div>
</div>
</div>


<script data-cfasync="false" src="/cdn-cgi/scripts/5c5dd728/cloudflare-static/email-decode.min.js"></script>

{% endblock %}