{% extends 'teacher/master.html' %}
{% load static %}
{% block content %}



<div class="page-wrapper">
    <div class="content container-fluid">

        <div class="page-header">
            <div class="row">
                <div class="col-sm-12">
                    <h3 class="page-title">Student Li</h3>
                    <ul class="breadcrumb">
                        <li><a href="{% url 'teacher:homepage' %}">Dashboard /</a></li>
                        <li class="breadcrumb-item active"> Courses</li>
                    </ul>
                </div>
            </div>
        </div>


        <div class="row">
            <div class="col-xl-3 col-sm-6 col-12">
                <div class="card">
                    <div class="card-body">
                        <div class="dash-widget-header">
                            <span class="dash-widget-icon bg-1">
                                <i class="fas fa-dollar-sign"></i>
                            </span>
                            <div class="dash-count">
                                <div class="dash-title">Course Name</div>
                                <div class="dash-counts">
                                    <p>ID</p>
                                </div>
                            </div>
                        </div>
                        <a href="{% url 'teacher:coursewisestudentlist' %}">
                            <p class="text-muted mt-3 mb-0" style="float: right;">
                                <span class="text-success me-1"><i class="fa fa-arrow-right"></i>
                            </p>
                        </a>
                    </div>
                </div>
            </div>
            <div class="col-xl-3 col-sm-6 col-12">
                <div class="card">
                    <div class="card-body">
                        <div class="dash-widget-header">
                            <span class="dash-widget-icon bg-2">
                                <i class="fas fa-dollar-sign"></i>
                            </span>
                            <div class="dash-count">
                                <div class="dash-title">Course Name</div>
                                <div class="dash-counts">
                                    <p>ID</p>
                                </div>
                            </div>
                        </div>
                        <a href="">
                            <p class="text-muted mt-3 mb-0" style="float: right;">
                                <span class="text-success me-1"><i class="fa fa-arrow-right"></i>
                            </p>
                        </a>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>



{% endblock %}