{% extends 'website/index.html' %}
{% load static %}
{% block content %}



<div class="sub_header bg_2">
    <div id="intro_txt">
        <h1>ABC Training Academy <strong>Excellence</strong> in teaching</h1>
        <!-- <p>Lorem ipsum dolor sit, amet consectetur adipisicing elit. Officiis, quidem.</p> -->
    </div>
</div>



<div class="container_gray_bg">
    <div class="container margin_60">
        <div class="row">
            <div class="main_title" style="justify-content:center;">
                <p>
                    ABC Training Academy is a renowned course provider which is registered under the Government of India Ministry of Corporate Affairs based in Kerala. Our aim is to deliver fruitful and career-building courses for learning enthusiasts of premium quality. By emphasizing the importance of inclusion of the marginalized and vulnerable, we aim to educate and empower aspirants and ensure justice and equality. Along with the practical goal of the job, we also help to build a career and life full of happiness. ABC Training Academy strives to form responsible citizens who uphold values under the motto "Truth, Love, Knowledge and service". We train students through a series of programs to cultivate a sense of values to face challenges and seize opportunities.
                </p>
            </div>
        </div>
    </div>
    <!--End container -->
</div>
<!--End bg_gray_container -->



<div class="container_gray_bg">
    <div class="container margin_60">
        <div class="main_title">
            <h2>Why choose ABC TRAINING ACADEMY ...</h2>
            <!-- <p>Lorem, ipsum dolor sit amet consectetur adipisicing elit. Unde ad facere veritatis dolor inventore consequuntur.</p> -->
        </div>

        <div class="row">
            <div class="col-md-4 col-sm-4">
                <a class="box_feat" href="#">
                    <i class="pe-7s-diamond"></i>
                    <h3>Qualified teachers</h3>
                    <p>
                        Teachers are the true inspiration for every student in the journey to their academic & professional triumph. ABC Training Academy is blessed with a dedicated team of talented mentors who strive to guide your path to success.
                    </p>
                </a>
            </div>
            <div class="col-md-4 col-sm-4">
                <a class="box_feat" href="#">
                    <i class="pe-7s-display2"></i>
                    <h3>Equiped class rooms</h3>
                    <p>
                        Being one of the top-notch training academies in Kerala, we seek to deliver the most advanced and well-equipped classrooms for scholars. We believe that with a well-equipped classroom students can get more engaged with their studies.
                    </p>
                </a>
            </div>
            <div class="col-md-4 col-sm-4">
                <a class="box_feat" href="#">
                    <i class="pe-7s-science"></i>
                    <h3>Advanced teaching</h3>
                    <p>
                        The level of comprehending knowledge of every student depends on the teaching capabilities and strategies of mentors. With the right mode of teaching, students can easily comprehend their area of expertise at its best.
                    </p>
                </a>
            </div>
        </div>
        <!--End row-->
        <div class="row">
            <div class="col-md-4 col-sm-4">
                <a class="box_feat" href="#">
                    <i class="pe-7s-rocket"></i>
                    <h3>Adavanced study plans</h3>
                    <p>
                        For shining bright in the future and to secure a bright future, one must foresee and act according to the well-developed study plans. We deliver the most exceptional study plans for ensuring a bright future for learning enthusiasts.
                    </p>
                </a>
            </div>
            <div class="col-md-4 col-sm-4">
                <a class="box_feat" href="#">
                    <i class="pe-7s-target"></i>
                    <h3>Focus on target</h3>
                    <p>
                        Always keep a goal and target your excellence. Being one of the best training academies in Kerala, ABC Training Academy always focuses on guiding our scholars to their targets and encouraging them to continue their journey to their goals.
                    </p>
                </a>
            </div>
            <div class="col-md-4 col-sm-4">
                <a class="box_feat" href="#">
                    <i class="pe-7s-graph1"></i>
                    <h3>focus on success</h3>
                    <p>
                        Success, we all work hard for success in our area of expertise. Fast or slow it is a proven truth that one can reach success with keen dedication and passion for dreams. Join us now to lead your path to success and secure your future.
                    </p>
                </a>
            </div>
        </div>
        <!--End row-->
        <br>
        <div class="text-center"><a href="{% url 'web:tours' %}" class=" button_outline large">Take a tour of ABC Academy</a></div>

    </div>
    <!--End container -->
</div>
<!--End bg_gray_container -->


<div class="container margin_60">
    <div class="main_title">
        <h2>Some words about ABC Training Academy ...</h2>
        <p>
            Leading training academy based in Kerala to guide your path to triumph.
        </p>
    </div>
    <div class="row">
        <div class="col-md-8 col-sm-8">
            <h3>Founded in .......</h3>
            <p>
                ABC Training Academy is a renowned course provider which is registered under the Government of India Ministry of Corporate Affairs based in Kerala. Our aim is to deliver fruitful and career-building courses for learning enthusiasts of premium quality. By emphasizing the importance of inclusion of the marginalized and vulnerable, we aim to educate and empower aspirants and ensure justice and equality. Along with the practical goal of the job, we also help to build a career and life full of happiness. 
            </p>
            <p>
                ABC Training Academy strives to form responsible citizens who uphold values under the motto "Truth, Love, Knowledge and service". We train students through a series of programs to cultivate a sense of values to face challenges and seize opportunities. Various courses offered by ABC Training Academy are,
            </p>
            <div class="row">
                <div class="col-md-5">
                    <ul class="list_4">
                        <li>Montessori training</li>
                        <li>Fashion Designing</li>
                        <li>Beautician Course </li>
                    </ul>
                </div>
                <div class="col-md-5">
                    <ul class="list_4">
                        <li>Nursery TTC</li>
                        <li>Garment Making</li>
                        <li>Short programs</li>
                    </ul>
                </div>
            </div><!-- end row -->
            <h3>Our Mission</h3>
            <p>
                ABC Training Academy strives to create confident and responsible citizens who uphold values ​​under the motto "Truth, Love, Knowledge and Service". Through exceptional series of programs, ABC Training Academy trains students to develop a sense of value, face challenges and take advantage of opportunities.
            </p>
        </div>
        <div class="col-md-4 col-sm-4">
            <div class="box_style_4">
                <h4>Mission</h4>
                <p>
                    Our vision is to educate and empower young women and men, emphasizing the need to mainstream marginalized and vulnerable groups to ensure justice and equality in society. Additionally, it helps to build a happy life as well as the practical goal of employment.

                </p>
                <ul class="list_order">
                    <li><span>1</span>A better knowledge centre</li>
                    <li><span>2</span>Engaging & refreshing studies</li>
                    <li><span>3</span>Building professional excellence</li>
                    <li><span>4</span>Securing career & future</li>
                    <li><span>5</span>Innovative teaching methods</li>
                </ul>
            </div>
        </div>
    </div>
    <!--End row -->
    <hr class="more_margin">
</div>
<!--End container -->


{% endblock %}



