{% extends 'website/index.html' %}
{% load static %}
{% block content %}



<div class="sub_header bg_2">
    <div id="intro_txt">
        <h1>ABC Training Academy <strong>Excellence</strong> in teaching</h1>
        <p>Lorem ipsum dolor sit, amet consectetur adipisicing elit. Officiis, quidem.</p>
    </div>
</div>


<div class="container_gray_bg">
    <div class="container margin_60">
        <div class="main_title">
            <h2>Why choose ABC TRAINING ACADEMY ...</h2>
            <p>Lorem, ipsum dolor sit amet consectetur adipisicing elit. Unde ad facere veritatis dolor inventore consequuntur.</p>
        </div>

        <div class="row">
            <div class="col-md-4 col-sm-4">
                <a class="box_feat" href="#">
                    <i class="pe-7s-diamond"></i>
                    <h3>Qualified teachers</h3>
                    <p>
                        Lorem ipsum dolor sit amet consectetur adipisicing elit. Dicta nemo facilis ducimus. Maiores perspiciatis itaque repellat. Placeat est incidunt officiis dignissimos, accusantium quasi libero perferendis nobis. Dignissimos voluptatum tenetur ipsa!
                    </p>
                </a>
            </div>
            <div class="col-md-4 col-sm-4">
                <a class="box_feat" href="#">
                    <i class="pe-7s-display2"></i>
                    <h3>Equiped class rooms</h3>
                    <p>
                        Lorem ipsum dolor sit amet consectetur adipisicing elit. Dicta nemo facilis ducimus. Maiores perspiciatis itaque repellat. Placeat est incidunt officiis dignissimos, accusantium quasi libero perferendis nobis. Dignissimos voluptatum tenetur ipsa!
                    </p>
                </a>
            </div>
            <div class="col-md-4 col-sm-4">
                <a class="box_feat" href="#">
                    <i class="pe-7s-science"></i>
                    <h3>Advanced teaching</h3>
                    <p>
                        Lorem ipsum dolor sit amet consectetur adipisicing elit. Dicta nemo facilis ducimus. Maiores perspiciatis itaque repellat. Placeat est incidunt officiis dignissimos, accusantium quasi libero perferendis nobis. Dignissimos voluptatum tenetur ipsa!
                    </p>
                </a>
            </div>
        </div>
        <!--End row-->
        <div class="row">
            <div class="col-md-4 col-sm-4">
                <a class="box_feat" href="#">
                    <i class="pe-7s-rocket"></i>
                    <h3>Adavanced study plans</h3>
                    <p>
                        Lorem ipsum dolor sit amet consectetur adipisicing elit. Dicta nemo facilis ducimus. Maiores perspiciatis itaque repellat. Placeat est incidunt officiis dignissimos, accusantium quasi libero perferendis nobis. Dignissimos voluptatum tenetur ipsa!
                    </p>
                </a>
            </div>
            <div class="col-md-4 col-sm-4">
                <a class="box_feat" href="#">
                    <i class="pe-7s-target"></i>
                    <h3>Focus on target</h3>
                    <p>
                        Lorem ipsum dolor sit amet consectetur adipisicing elit. Dicta nemo facilis ducimus. Maiores perspiciatis itaque repellat. Placeat est incidunt officiis dignissimos, accusantium quasi libero perferendis nobis. Dignissimos voluptatum tenetur ipsa!
                    </p>
                </a>
            </div>
            <div class="col-md-4 col-sm-4">
                <a class="box_feat" href="#">
                    <i class="pe-7s-graph1"></i>
                    <h3>focus on success</h3>
                    <p>
                        Lorem ipsum dolor sit amet consectetur adipisicing elit. Eum perferendis autem delectus ab eveniet minus culpa reprehenderit, totam dolorum iusto suscipit esse sed sequi, blanditiis nostrum? Ex expedita eius accusamus?
                    </p>
                </a>
            </div>
        </div>
        <!--End row-->
        <br>
        <div class="text-center"><a href="{% url 'web:tours' %}" class=" button_outline large">Take a tour of ABC Academy</a></div>

    </div>
    <!--End container -->
</div>
<!--End bg_gray_container -->


<div class="container margin_60">
    <div class="main_title">
        <h2>Some words about ABC Training Academy ...</h2>
        <p>
            Lorem ipsum dolor, sit amet consectetur adipisicing elit. Itaque dolorem! Libero, culpa ratione.
        </p>
    </div>
    <div class="row">
        <div class="col-md-8 col-sm-8">
            <h3>Founded in .......</h3>
            <p>
                Lorem ipsum dolor sit amet, consectetur adipisicing elit. Reprehenderit quae ut ullam iste itaque reiciendis vitae tempora explicabo esse repellat mollitia, suscipit alias at in autem odio cupiditate aspernatur aliquid iure nesciunt laborum deleniti maxime earum. Libero quia quod at a nam temporibus error nulla, repellat id? Numquam molestiae obcaecati et quasi maxime fugiat voluptatem perspiciatis voluptas, dolorem delectus inventore.
            </p>
            <p>
                Lorem, ipsum dolor sit amet consectetur adipisicing elit. Corrupti perferendis porro sapiente dolorem cum dignissimos obcaecati sed ullam neque unde error, autem quae eligendi magni beatae ad, alias incidunt exercitationem odit. Libero voluptas labore quia vero similique impedit, necessitatibus nobis, obcaecati sapiente accusantium repellat ratione rerum atque. Expedita eum odit, asperiores aut ipsum, iste excepturi, placeat harum nisi aspernatur sequi distinctio? Dolor minima ipsam, pariatur autem veritatis similique tenetur ipsum!
            </p>
            <div class="row">
                <div class="col-md-5">
                    <ul class="list_4">
                        <li>.......</li>
                        <li>..............</li>
                        <li>..........</li>
                    </ul>
                </div>
                <div class="col-md-5">
                    <ul class="list_4">
                        <li>...........</li>
                        <li>.......</li>
                        <li>.......</li>
                    </ul>
                </div>
            </div><!-- end row -->
            <h3>Founders and Directors</h3>
            <p>
                Lorem ipsum dolor sit, amet consectetur adipisicing elit. Incidunt optio quod voluptatibus, illo deleniti obcaecati cumque quibusdam voluptates? Labore tenetur, nobis explicabo deserunt eius distinctio velit officiis recusandae facilis, dolor laudantium aperiam tempore ratione similique facere nisi cumque asperiores tempora sit ea. Odio ipsum sed eum mollitia numquam eligendi quis.
            </p>
            <ul class="list_staff">
                <li>
                    <figure><img src="img/teacher_1_thumb.jpg" alt="" class="img-circle"></figure>
                    <h5>Name</h5>
                    <p>position</p>
                </li>
                <li>
                    <figure><img src="img/teacher_2_thumb.jpg" alt="" class="img-circle"></figure>
                    <h5>Name</h5>
                    <p>position</p>
                </li>
                <li>
                    <figure><img src="img/teacher_3_thumb.jpg" alt="" class="img-circle"></figure>
                    <h5>Name</h5>
                    <p>position</p>
                </li>
            </ul>
        </div>
        <div class="col-md-4 col-sm-4">
            <div class="box_style_4">
                <h4>Mission</h4>
                <p>
                    Lorem ipsum dolor sit amet consectetur adipisicing elit. Eos voluptatibus fugiat iste sint. Quidem ipsam delectus veniam commodi quia saepe tempora perferendis cupiditate exercitationem aliquam.
                </p>
                <ul class="list_order">
                    <li><span>1</span>Lorem ipsum dolor sit, amet consectetur adipisicing elit.</li>
                    <li><span>2</span>Lorem ipsum dolor sit amet.</li>
                    <li><span>3</span>Lorem ipsum dolor sit amet consectetur adipisicing.</li>
                    <li><span>4</span>Lorem ipsum dolor sit amet consectetur adipisicing elit.</li>
                    <li><span>5</span>Lorem ipsum dolor sit amet consectetur.</li>
                </ul>
            </div>
        </div>
    </div>
    <!--End row -->
    <hr class="more_margin">
    <div class="row">
        <div class="col-md-4 col-sm-4">
            <p><img src="{% static 'websites/img/campus.jpg' %}" alt="" class="img-responsive"></p>
            <h4>Campus Area</h4>
            <p>Lorem ipsum dolor sit amet, ne vis suas harum nonumy, at enim vocent delicatissimi eos, vocent
                inermis veritus mel no. Vix in offendit forensibus cotidieque. </p>
        </div>
        <div class="col-md-4 col-sm-4">
            <p><img src="{% static 'websites/img/sport.jpg' %}" alt="" class="img-responsive"></p>
            <h4>Sport activites</h4>
            <p>Lorem ipsum dolor sit amet, ne vis suas harum nonumy, at enim vocent delicatissimi eos, vocent
                inermis veritus mel no. Vix in offendit forensibus cotidieque. </p>
        </div>
        <div class="col-md-4 col-sm-4">
            <p><img src="{% static 'websites/img/conference_hall.jpg' %}" alt="" class="img-responsive"></p>
            <h4>Conference Hall</h4>
            <p>Lorem ipsum dolor sit amet, ne vis suas harum nonumy, at enim vocent delicatissimi eos, vocent
                inermis veritus mel no. Vix in offendit forensibus cotidieque. </p>
        </div>
    </div>
    <!--End row -->
</div>
<!--End container -->


{% endblock %}



