{% extends 'website/index.html' %}
{% load static %}
{% block content %}


<div class="sub_header bg_1">
    <div id="intro_txt">
        <h1>ABC academy <strong>Beautician</strong> course</h1>
        <!-- <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Obcaecati, sequi.</p> -->
    </div>
</div>
<!--End sub_header -->


<div class="container_gray_bg">
    <div id="position">
        <div class="container">
            <ul>
                <li><a href="">Home</a></li>
                <li><a href="">Category</a></li>
                <li>Page active</li>
            </ul>
        </div>
    </div><!-- Position -->
    <div class="container margin_60">
        <div class="row">

            <div class="col-md-9">
                <div class="box_style_1">
                    <div class="indent_title_in">
                        <i class="pe-7s-news-paper"></i>
                        <h3>Summary</h3>
                        <!-- <p>Lorem ipsum dolor sit amet consectetur, adipisicing elit. Eum, dolore?</p> -->
                    </div>
                    <div class="wrapper_indent">
                        <p>
                            The Makeup industry has evolved so fast and is booming throughout the world as they are barely affected by the slump or monetary comedowns. Those who are passionate about making people pretty can build a career out of it. People want to look attractive not only to foster their self-esteem but also to introduce themselves well among their friends. This can be achievable only with the help of a skilled beautician, cosmetologist, or beauty expert
                        </p>
                        <p>
                            Our beautician course focus on the field of makeup that can benefit you in developing careers as makeup specialists in television sets, films, spas, etc. After fetching expertise in this field, makeup artists can work confidentially by opening their own beauty salons and delivering consultations for their clients. In this course, trainees learn various aspects of makeup, and they get to comprehend hairstyling, skincare solutions, flawless makeup techniques, covering skin blemishes, etc.
                        </p>
                        <p>
                            The beautician course supports students to discover how to work as a makeup artist and vend with corrective applications in terms of cosmetics for the skin, eyes, cheeks, and lips. Here, students learn how to apply makeup for models appearing in fashion-related photos on a regular basis and for special occasions. These classes include the study of face shapes, new trends in cosmetics, colour theory, and different massaging techniques, as well as a theoretical understanding of makeup.
                        </p>
                        <!-- <p class="add_bottom_30">Lorem ipsum dolor sit amet, nam ei aperiam <strong>dolorum
                                nominati</strong>, porro possit ne qui, libris consectetuer has no. Te saepe
                            epicurei apeirian his, vim an minim delicatissimi. Et ius tota recusabo democritum, cum
                            choro consul urbanitas eu. At nemore quodsi concludaturque per, nam <a href="#0"
                                class="hvr-underline-reveal"><strong>adhuc noster accusam ad</strong></a>. Vim id
                            aliquid dolorum, nam case graece ea.</p> -->
                        <!-- <div class="row">
                            <div class="col-md-6">
                                <p><img src="{% static 'websites/img/course_1_1_thumb.jpg' %}" alt=""
                                        class="img-responsive"></p>
                                <h4>Main targets</h4>
                                <p>
                                    Lorem, ipsum dolor sit amet consectetur adipisicing elit. Ex ea iure laudantium in
                                    dolor. Provident at vel, ab perspiciatis tenetur libero enim quibusdam nulla
                                    nesciunt, voluptatibus quidem voluptates, non maxime?
                                </p>
                            </div>
                            <div class="col-md-6">
                                <p><img src="{% static 'websites/img/course_1_2_thumb.jpg' %}" alt=""
                                        class="img-responsive"></p>
                                <h4>Mission and Vision</h4>
                                <p>
                                    Lorem ipsum dolor sit amet consectetur adipisicing elit. Maxime officia molestiae
                                    suscipit temporibus dolorem optio velit autem laboriosam ut ullam? Laudantium
                                    nostrum asperiores quod non aliquam, obcaecati exercitationem dignissimos iste in
                                    quas amet facere ullam.
                                </p>
                            </div>
                        </div> -->
                    </div>
                    <hr class="styled_2">
                    <div class="indent_title_in">
                        <i class="pe-7s-display1"></i>
                        <h3>Benefits of learning Beautician course</h3>
                        <!-- <p>Mussum ipsum cacilds, vidis litro abertis.</p> -->
                    </div>
                    <div class="wrapper_indent">
                        <p>
                            Health and beauty endeavours are growing very fast. With advancing demand, people are looking forward to evolving as skilled beauticians. Today, beauty courses are quite comprehensive, and salons offer the opportunity to experience various new and advanced beauty techniques up close.
                        </p>
                        <div class="row">
                            <div class="col-md-12">
                                <ul class="list_style_1">
                                    <li>Become a professional beautician</li>
                                    <li>Achieve more client satisfaction</li>
                                    <li>Chance of reaching more customers</li>
                                    <li>Beauty services can be delivered from home</li>
                                    <li>Learn more about beauty therapy</li>
                                    <li>Provide training to the emerging beauticians</li>
                                </ul>
                            </div>
                        </div>
                    </div>

                    <!-- <hr class="styled_2"> -->

                    <!-- <div class="indent_title_in">
                        <i class="pe-7s-user"></i>
                        <h3>Main Teachers</h3>
                        <p>Lorem ipsum dolor sit dignissimos consequuntur minus!</p>
                    </div> -->
                    <!-- <div class="wrapper_indent">
                        <p>Zril causae ancillae sit ea. Dicam veritus mediocritatem sea ex, nec id agam eius. Te pri
                            facete latine salutandi, scripta mediocrem et sed, cum ne mundi vulputate. Ne his sint
                            graeco detraxit, posse exerci volutpat has in.</p>
                        <div class="row">
                            <div class="col-md-6 col-sm-6">
                                <ul class="list_teachers">
                                    <li><a href="">
                                            <figure><img src="img/teacher_1_thumb.jpg" alt="" class="img-rounded">
                                            </figure>
                                            <h5>staff name</h5>
                                            <p>subject</p><i class="pe-7s-angle-right-circle"></i>
                                        </a></li>
                                    <li><a href="">
                                            <figure><img src="img/teacher_2_thumb.jpg" alt="" class="img-rounded">
                                            </figure>
                                            <h5>staff name</h5>
                                            <p>subject</p><i class="pe-7s-angle-right-circle"></i>
                                        </a></li>
                                    <li><a href="">
                                            <figure><img src="img/teacher_3_thumb.jpg" alt="" class="img-rounded">
                                            </figure>
                                            <h5>staff name</h5>
                                            <p>subject</p><i class="pe-7s-angle-right-circle"></i>
                                        </a></li>
                                </ul>
                            </div>
                            <div class="col-md-6 col-sm-6">
                                <ul class="list_teachers">
                                    <li><a href="">
                                            <figure><img src="img/teacher_4_thumb.jpg" alt="" class="img-rounded">
                                            </figure>
                                            <h5>staff name</h5>
                                            <p>subject</p><i class="pe-7s-angle-right-circle"></i>
                                        </a></li>
                                    <li><a href="">
                                            <figure><img src="img/teacher_5_thumb.jpg" alt="" class="img-rounded">
                                            </figure>
                                            <h5>staff name</h5>
                                            <p>subject</p><i class="pe-7s-angle-right-circle"></i>
                                        </a></li>
                                    <li><a href="">
                                            <figure><img src="img/teacher_6_thumb.jpg" alt="" class="img-rounded">
                                            </figure>
                                            <h5>staff name</h5>
                                            <p>subject</p><i class="pe-7s-angle-right-circle"></i>
                                        </a></li>
                                </ul>
                            </div>
                        </div>
                    </div> -->
                    <hr class="styled_2">
                    <div class="indent_title_in">
                        <i class="pe-7s-cloud-download"></i>
                        <h3>Why choose ABC academy</h3>
                        <p>Start building your career as a skilled Beautician with ABC Academy</p>
                    </div>
                    <div class="wrapper_indent">
                        <p class="add_bottom_30">
                            ABC Academy is one of the leading Beautician course providers based in Kerala. Through education and building learning enthusiasm, we aim to develop career opportunities for students. We are fortunate to have a team of skilled professionals that work hard to produce great results for each student.
                        </p>
                        <div class="row">
                            <div class="col-md-6">
                                <!-- <p><img src="{% static 'websites/img/course_1_1_thumb.jpg' %}" alt="" class="img-responsive"></p> -->
                                <h4><strong>RESULTS</strong></h4>
                                <p>
                                    With over a decade of experience providing outstanding educational assistance to students in Kerala, we continuously monitor their academic advancement to enable them to achieve their academic objectives.
                                </p>
                            </div>
                            <div class="col-md-6">
                                <!-- <p><img src="{% static 'websites/img/course_1_2_thumb.jpg' %}" alt="" class="img-responsive"></p> -->
                                <h4><strong>HIGH QUALITY LINKS</strong></h4>
                                <p>
                                    With a reputation for being one of the best training service providers in Kerala, we take pride in supporting our students in their academic enactment by providing high-quality resources to support them.
                                </p>
                            </div>
                        </div>
                        <div class="row">
                            <div class="col-md-6">
                                <!-- <p><img src="{% static 'websites/img/course_1_1_thumb.jpg' %}" alt="" class="img-responsive"></p> -->
                                <h4><strong>LIVE CHAT SUPPORT</strong></h4>
                                <p>
                                    Having been known as one of the most prominent educational providers in Kerala, we remain dedicated to delivering detailed scholastic support for our trainees by using live chat support.
                                </p>
                            </div>
                            <div class="col-md-6">
                                <!-- <p><img src="{% static 'websites/img/course_1_2_thumb.jpg' %}" alt="" class="img-responsive"></p> -->
                                <h4><strong>TRANSPARECY</strong></h4>
                                <p>
                                    The ABC Training Academy is one of the top-ranked scholarly institutions in Kerala that supports students and scrutinises their academic progress while maintaining transparency with them.
                                </p>
                            </div>
                        </div>
                    </div>

                    <hr class="styled_2">
                </div>
            </div>

            <aside class="col-md-3">
                <div class="banner">
                    <i class=" iconcustom-school"></i>
                    <h3>Take a campus tour</h3>
                    <p>
                        Lorem ipsum dolor sit amet consectetur adipisicing elit. Ab quis eos, autem itaque rerum saepe!
                    </p>
                    <a href="{% url 'web:tours' %}" class="banner_bt">Start tour</a>
                </div>
                <h4><strong>How to apply</strong></h4>
                <p>
                    Lorem, ipsum dolor sit amet consectetur adipisicing elit. Possimus, deserunt at. Ad voluptas eveniet
                    aliquid, vero nihil natus dignissimos harum.
                </p>
                <hr class="styled">
                <div class="box_side">
                    <h5>By Phone</h5>
                    <i class="icon-phone"></i>
                    <p>
                        <a href="">(+91) – 9037304624</a><br>
                        <small>Monday to Friday 9.00am - 6.00pm</small>
                    </p>
                </div>
                <hr class="styled">
                <div class="box_side">
                    <h5>Apply Online</h5>
                    <i class="icon_desktop"></i>
                    <p>
                        Lorem ipsum dolor sit amet consectetur adipisicing elit. Nisi in numquam eligendi. Blanditiis
                        explicabo similique mollitia doloremque, temporibus expedita rem.
                    </p>
                    <p>
                        <a href="{% url 'web:onlineapplication' %}" class="button small">Apply online</a>
                    </p>
                </div>
            </aside>
        </div>
        <!--End row -->
    </div>
    <!--End container -->
</div>
<!--End container_gray_bg -->


{% endblock %}