{% extends 'website/index.html' %}
{% load static %}
{% block content %}


<div class="sub_header bg_1">
    <div id="intro_txt">
        <h1>ABC academy <strong>Fashion Designing</strong> course</h1>
        <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Obcaecati, sequi.</p>
    </div>
</div>
<!--End sub_header -->


<div class="container_gray_bg">
    <div id="position">
        <div class="container">
            <ul>
                <li><a href="">Home</a></li>
                <li><a href="">Category</a></li>
                <li>Page active</li>
            </ul>
        </div>
    </div><!-- Position -->
    <div class="container margin_60">
        <div class="row">

            <div class="col-md-9">
                <div class="box_style_1">
                    <div class="indent_title_in">
                        <i class="pe-7s-news-paper"></i>
                        <h3>Summary</h3>
                        <!-- <p>Lorem ipsum dolor sit amet consectetur, adipisicing elit. Eum, dolore?</p> -->
                    </div>
                    <div class="wrapper_indent">
                        <p>
                            Fashion Designing is one of the most prevalent Design specialisations among scholars. Every year thousands of students apply at various fashion Design colleges across the country with an aspiration to become victorious fashion designers in future. If you too are aiming for a career in Fashion Design, you have anchored at the right place. 
                        </p>
                        <p>
                            Fashion Design is one of the most creative course options available not only in India but also abroad. It is abundantly clear that the Fashion industry has grown by leaps and bounds in the past decade. Fashion Designing is a field of study that opens up a plethora of career prospects for those who choose the right course. It is essential to know some important aspects of Fashion Designing before enrolling in the course.
                        </p>
                        <p>
                            Despite the similarities between Fashion Design and Textile Design, there are differences as well. Fashion Design teaches students how to create clothes and lifestyle accessories. Textile Design teaches students how to create structures and designs for knitted, woven, printed & surface ornamented fabrics, etc.
                        </p>
                        <!-- <p class="add_bottom_30">Lorem ipsum dolor sit amet, nam ei aperiam <strong>dolorum
                                nominati</strong>, porro possit ne qui, libris consectetuer has no. Te saepe
                            epicurei apeirian his, vim an minim delicatissimi. Et ius tota recusabo democritum, cum
                            choro consul urbanitas eu. At nemore quodsi concludaturque per, nam <a href="#0"
                                class="hvr-underline-reveal"><strong>adhuc noster accusam ad</strong></a>. Vim id
                            aliquid dolorum, nam case graece ea.</p> -->
                        <!-- <div class="row">
                            <div class="col-md-6">
                                <p><img src="{% static 'websites/img/course_1_1_thumb.jpg' %}" alt=""
                                        class="img-responsive"></p>
                                <h4>Main targets</h4>
                                <p>
                                    Lorem, ipsum dolor sit amet consectetur adipisicing elit. Ex ea iure laudantium in
                                    dolor. Provident at vel, ab perspiciatis tenetur libero enim quibusdam nulla
                                    nesciunt, voluptatibus quidem voluptates, non maxime?
                                </p>
                            </div>
                            <div class="col-md-6">
                                <p><img src="{% static 'websites/img/course_1_2_thumb.jpg' %}" alt=""
                                        class="img-responsive"></p>
                                <h4>Mission and Vision</h4>
                                <p>
                                    Lorem ipsum dolor sit amet consectetur adipisicing elit. Maxime officia molestiae
                                    suscipit temporibus dolorem optio velit autem laboriosam ut ullam? Laudantium
                                    nostrum asperiores quod non aliquam, obcaecati exercitationem dignissimos iste in
                                    quas amet facere ullam.
                                </p>
                            </div>
                        </div> -->
                    </div>
                    <hr class="styled_2">
                    <div class="indent_title_in">
                        <i class="pe-7s-display1"></i>
                        <h3>Benefits of learning Fashion Designing</h3>
                        <!-- <p>Mussum ipsum cacilds, vidis litro abertis.</p> -->
                    </div>
                    <div class="wrapper_indent">
                        <p>
                            The unprecedented growth of fashion design makes it one of the most popular fields for young students. A designing course helps individuals to learn about the latest trends in fashion and the various apparel in today’s world. Here are some reasons why you should pursue a fashion designing course after your school and the impact they can have on your future career.
                        </p>
                        <div class="row">
                            <div class="col-md-6">
                                <ul class="list_style_1">
                                    <li>A booming career option</li>
                                    <li>Specialization in  the fashion world</li>
                                    <li>Starting your own business</li>
                                    <li>Enhances your creativity</li>
                                    <li>Updating with the latest trends</li>
                                </ul>
                            </div>
                        </div>
                    </div>

                    <!-- <hr class="styled_2"> -->

                    <!-- <div class="indent_title_in">
                        <i class="pe-7s-user"></i>
                        <h3>Main Teachers</h3>
                        <p>Lorem ipsum dolor sit dignissimos consequuntur minus!</p>
                    </div> -->
                    <!-- <div class="wrapper_indent">
                        <p>Zril causae ancillae sit ea. Dicam veritus mediocritatem sea ex, nec id agam eius. Te pri
                            facete latine salutandi, scripta mediocrem et sed, cum ne mundi vulputate. Ne his sint
                            graeco detraxit, posse exerci volutpat has in.</p>
                        <div class="row">
                            <div class="col-md-6 col-sm-6">
                                <ul class="list_teachers">
                                    <li><a href="">
                                            <figure><img src="img/teacher_1_thumb.jpg" alt="" class="img-rounded">
                                            </figure>
                                            <h5>staff name</h5>
                                            <p>subject</p><i class="pe-7s-angle-right-circle"></i>
                                        </a></li>
                                    <li><a href="">
                                            <figure><img src="img/teacher_2_thumb.jpg" alt="" class="img-rounded">
                                            </figure>
                                            <h5>staff name</h5>
                                            <p>subject</p><i class="pe-7s-angle-right-circle"></i>
                                        </a></li>
                                    <li><a href="">
                                            <figure><img src="img/teacher_3_thumb.jpg" alt="" class="img-rounded">
                                            </figure>
                                            <h5>staff name</h5>
                                            <p>subject</p><i class="pe-7s-angle-right-circle"></i>
                                        </a></li>
                                </ul>
                            </div>
                            <div class="col-md-6 col-sm-6">
                                <ul class="list_teachers">
                                    <li><a href="">
                                            <figure><img src="img/teacher_4_thumb.jpg" alt="" class="img-rounded">
                                            </figure>
                                            <h5>staff name</h5>
                                            <p>subject</p><i class="pe-7s-angle-right-circle"></i>
                                        </a></li>
                                    <li><a href="">
                                            <figure><img src="img/teacher_5_thumb.jpg" alt="" class="img-rounded">
                                            </figure>
                                            <h5>staff name</h5>
                                            <p>subject</p><i class="pe-7s-angle-right-circle"></i>
                                        </a></li>
                                    <li><a href="">
                                            <figure><img src="img/teacher_6_thumb.jpg" alt="" class="img-rounded">
                                            </figure>
                                            <h5>staff name</h5>
                                            <p>subject</p><i class="pe-7s-angle-right-circle"></i>
                                        </a></li>
                                </ul>
                            </div>
                        </div>
                    </div> -->
                    <hr class="styled_2">
                    <div class="indent_title_in">
                        <i class="pe-7s-cloud-download"></i>
                        <h3>Why choose ABC academy</h3>
                        <p>Start building your Fashion Designing career with ABC Academy</p>
                    </div>
                    <div class="wrapper_indent">
                        <p class="add_bottom_30">
                            ABC Academy is one of the leading Fashion Designing course providers based in Kerala. Our goal is to develop career opportunities for students by educating and building learning enthusiasm. We are fortunate to have a skilled team of professionals who work hard to produce the best results for every student.
                        </p>
                        <div class="row">
                            <div class="col-md-6">
                                <!-- <p><img src="{% static 'websites/img/course_1_1_thumb.jpg' %}" alt="" class="img-responsive"></p> -->
                                <h4><strong>RESULTS</strong></h4>
                                <p>
                                    With over a decade of background in furnishing exceptional educational assistance to students in Kerala, we constantly scrutinise their academic advancement so they are able to reach their scholarly goals.
                                </p>
                            </div>
                            <div class="col-md-6">
                                <!-- <p><img src="{% static 'websites/img/course_1_2_thumb.jpg' %}" alt="" class="img-responsive"></p> -->
                                <h4><strong>HIGH QUALITY LINKS</strong></h4>
                                <p>
                                    As one of the finest training service providers in Kerala, we take dignity in obliging our students in their academic enactment by supplying high-quality links to sustain the students.
                                </p>
                            </div>
                        </div>
                        <div class="row">
                            <div class="col-md-6">
                                <!-- <p><img src="{% static 'websites/img/course_1_1_thumb.jpg' %}" alt="" class="img-responsive"></p> -->
                                <h4><strong>LIVE CHAT SUPPORT</strong></h4>
                                <p>
                                    Having been known as one of the leading course providers in Kerala, we endure providing trainees with high-quality scholarly support by delivering live chat support for candidates.
                                </p>
                            </div>
                            <div class="col-md-6">
                                <!-- <p><img src="{% static 'websites/img/course_1_2_thumb.jpg' %}" alt="" class="img-responsive"></p> -->
                                <h4><strong>TRANSPARECY</strong></h4>
                                <p>
                                    ABC Academy is one of the top-rated scholarly institutions in Kerala that strive to support students and scrutinize academic advancement and seek to preserve transparency with our students.
                                </p>
                            </div>
                        </div>
                    </div>

                    <hr class="styled_2">
                </div>
            </div>

            <aside class="col-md-3">
                <div class="banner">
                    <i class=" iconcustom-school"></i>
                    <h3>Take a campus tour</h3>
                    <p>
                        Lorem ipsum dolor sit amet consectetur adipisicing elit. Ab quis eos, autem itaque rerum saepe!
                    </p>
                    <a href="{% url 'web:tours' %}" class="banner_bt">Start tour</a>
                </div>
                <h4><strong>How to apply</strong></h4>
                <p>
                    Lorem, ipsum dolor sit amet consectetur adipisicing elit. Possimus, deserunt at. Ad voluptas eveniet
                    aliquid, vero nihil natus dignissimos harum.
                </p>
                <hr class="styled">
                <div class="box_side">
                    <h5>By Phone</h5>
                    <i class="icon-phone"></i>
                    <p>
                        <a href="">(+91) – 9037304624</a><br>
                        <small>Monday to Friday 9.00am - 6.00pm</small>
                    </p>
                </div>
                <hr class="styled">
                <div class="box_side">
                    <h5>Apply Online</h5>
                    <i class="icon_desktop"></i>
                    <p>
                        Lorem ipsum dolor sit amet consectetur adipisicing elit. Nisi in numquam eligendi. Blanditiis
                        explicabo similique mollitia doloremque, temporibus expedita rem.
                    </p>
                    <p>
                        <a href="{% url 'web:onlineapplication' %}" class="button small">Apply online</a>
                    </p>
                </div>
            </aside>
        </div>
        <!--End row -->
    </div>
    <!--End container -->
</div>
<!--End container_gray_bg -->


{% endblock %}