{% extends 'website/index.html' %}
{% load static %}
{% block content %}


<div class="sub_header bg_4">
    <div id="intro_txt">
        <h1>ABC academy <strong>Gallery</strong></h1>
        <p>Ex saepe accusata duo, vel ne summo option delenit.</p>
    </div>
</div>
<!--End sub_header -->

<div id="position">
    <div class="container">
        <ul>
            <li><a href="">Home</a></li>
            <li><a href="">Category</a></li>
            <li>Page active</li>
        </ul>
    </div>
</div><!-- Position -->


<div class="container margin_60">
    <section class="grid">
        <div class="main_title">
            <h2>Here some pictures ...</h2>
            <p>Cum doctus civibus efficiantur in imperdiet deterruisset.</p>
        </div>
        <div class="row">
            <ul class="magnific-gallery">
                <li>
                    <figure>
                        <img src="{% static 'websites/img/gallery/pic_4.jpg' %}" alt="">
                        <figcaption>
                            <div class="caption-content">
                                <a href="{% static 'websites/img/gallery/large/pic_4.jpg' %}" title="Photo title"
                                    data-effect="mfp-move-horizontal">
                                    <i class="pe-7s-albums"></i>
                                    <p>Your caption</p>
                                </a>
                            </div>
                        </figcaption>
                    </figure>
                </li>
                <li>
                    <figure>
                        <img src="{% static 'websites/img/gallery/pic_5.jpg' %}" alt="">
                        <figcaption>
                            <div class="caption-content">
                                <a href="{% static 'websites/img/gallery/large/pic_5.jpg' %}" title="Photo title"
                                    data-effect="mfp-move-horizontal">
                                    <i class="pe-7s-albums"></i>
                                    <p>Your caption</p>
                                </a>
                            </div>

                        </figcaption>
                    </figure>
                </li>
                <li>
                    <figure>
                        <img src="{% static 'websites/img/gallery/pic_6.jpg' %}" alt="">
                        <figcaption>
                            <div class="caption-content">
                                <a href="{% static 'websites/img/gallery/large/pic_6.jpg' %}" title="Photo title"
                                    data-effect="mfp-move-horizontal">
                                    <i class="pe-7s-albums"></i>
                                    <p>Your caption</p>
                                </a>
                            </div>
                        </figcaption>
                    </figure>
                </li>
                <li>
                    <figure>
                        <img src="{% static 'websites/img/gallery/pic_7.jpg' %}" alt="">
                        <figcaption>
                            <div class="caption-content">
                                <a href="{% static 'websites/img/gallery/large/pic_7.jpg' %}" title="Photo title">
                                    <i class="pe-7s-albums"></i>
                                    <p>Your caption</p>
                                </a>
                            </div>
                        </figcaption>
                    </figure>
                </li>
            </ul>
        </div>
        <div class="row">
            <ul class="magnific-gallery">
                <li>
                    <figure>
                        <img src="{% static 'websites/img/gallery/pic_8.jpg' %}" alt="">
                        <figcaption>
                            <div class="caption-content">
                                <a href="{% static 'websites/img/gallery/large/pic_8.jpg' %}" title="Photo title">
                                    <i class="pe-7s-albums"></i>
                                    <p>Your caption</p>
                                </a>
                            </div>
                        </figcaption>
                    </figure>
                </li>
                <li>
                    <figure>
                        <img src="{% static 'websites/img/gallery/pic_9.jpg' %}" alt="">
                        <figcaption>
                            <div class="caption-content">
                                <a href="{% static 'websites/img/gallery/large/pic_9.jpg' %}" title="Photo title">
                                    <i class="pe-7s-albums"></i>
                                    <p>Your caption</p>
                                </a>
                            </div>
                        </figcaption>
                    </figure>
                </li>
                <li>
                    <figure>
                        <img src="{% static 'websites/img/gallery/pic_8.jpg' %}" alt="">
                        <figcaption>
                            <div class="caption-content">
                                <a href="{% static 'websites/img/gallery/large/pic_8.jpg' %}" title="Photo title">
                                    <i class="pe-7s-albums"></i>
                                    <p>Your caption</p>
                                </a>
                            </div>
                        </figcaption>
                    </figure>
                </li>
                <li>
                    <figure>
                        <img src="{% static 'websites/img/gallery/pic_4.jpg' %}" alt="">
                        <figcaption>
                            <div class="caption-content">
                                <a href="{% static 'websites/img/gallery/large/pic_4.jpg' %}" title="Photo title">
                                    <i class="pe-7s-albums"></i>
                                    <p>Your caption</p>
                                </a>
                            </div>
                        </figcaption>
                    </figure>
                </li>
            </ul>
        </div>
    </section>
</div>



{% endblock %}



