{% load static %}
<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <meta name="keywords" content="college, campus, university, courses, school, educational">
    <meta name="description" content="ATENA - College, University and campus template">
    <meta name="author" content="Ansonika">
    <title>ABC Training Academy</title>

    <!-- Favicons-->
    <link rel="shortcut icon" href="{% static 'websites/logo.webp' %}" type="image/x-icon">
    <link rel="apple-touch-icon" type="image/x-icon" href="{% static 'websites/img/apple-touch-icon-57x57-precomposed.png' %}">
    <link rel="apple-touch-icon" type="image/x-icon" sizes="72x72" href="{% static 'websites/img/apple-touch-icon-72x72-precomposed.png' %}">
    <link rel="apple-touch-icon" type="image/x-icon" sizes="114x114" href="{% static 'websites/img/apple-touch-icon-114x114-precomposed.png' %}">
    <link rel="apple-touch-icon" type="image/x-icon" sizes="144x144" href="{% static 'websites/img/apple-touch-icon-144x144-precomposed.png' %}">

    <!-- BASE CSS -->
    <link href="{% static 'websites/css/main_font/main_font.css' %}" rel="stylesheet">
    <link href="{% static 'websites/css/animate.min.css' %}" rel="stylesheet">
    <link href="{% static 'websites/css/bootstrap.min.css' %}" rel="stylesheet">
    <link href="{% static 'websites/css/menu.css' %}" rel="stylesheet">
    <link href="{% static 'websites/css/style.css' %}" rel="stylesheet">
    <link href="{% static 'websites/css/responsive.css' %}" rel="stylesheet">
    <link href="{% static 'websites/css/elegant_font/elegant_font.min.css' %}" rel="stylesheet">
    <link href="{% static 'websites/css/icon_font/pe-icon-7-stroke.min.css' %}" rel="stylesheet">
    <link href="{% static 'websites/css/fontello/css/fontello.min.css' %}" rel="stylesheet">
    <link href="{% static 'websites/css/edu_fonts/edu_fonts.min.css' %}" rel="stylesheet">
    <link href="{% static 'websites/css/magnific-popup.css' %}" rel="stylesheet">

    <!-- YOUR CUSTOM CSS -->
    <link href="{% static 'websites/css/custom.css' %}" rel="stylesheet">
    
    <!-- SPECIFIC CSS -->
    <link href="{% static 'websites/css/tour.css' %}" rel="stylesheet">
    
    <!-- Uncomment to change color scheme <link href="css/tour-green.css" rel="stylesheet"> -->
    <!-- Uncomment to change color scheme <link href="css/tour-purple.css" rel="stylesheet"> -->
    <!-- Uncomment to change color scheme <link href="css/tour-red.css" rel="stylesheet"> -->
    
    <!-- Modernizr -->
	<script src="{% static 'websites/js/modernizr_tour.js' %}"></script> 
</head>

<body>

<div id="preloader">
	<div class="pulse"></div>
</div><!-- Pulse Preloader -->

<section class="tour-section">
		<div class="full-container">
			<h1 id="intro_txt">Welcome to ABC Training Academy<span>High level College and University campus</span></h1>
		</div>
	</section> <!-- End  tour-section-->

	<section class="tour-section">
		<div class="full-container" style="background-image: none;">
			<div class="half-container" style="background-image: none;"></div>

			<div class="half-container">
				<div class="txt_container">
                	<h3>Unique study plans and tutors</h3>
					<p>
						Being one of the top-notch training academies in Kerala, we look forward to introducing innovative study plans to ensure the career success of aspirants.
					</p>
                    <ul class="intro_icons">
                    <li><i class="pe-7s-target"></i>Advanced Learning Procedures</li>
                    <li><i class="pe-7s-science"></i>Success Oriented Programmes</li>
                    <li><i class="pe-7s-graph1"></i>Secure Career & Future</li>
                    </ul>
				</div>
			</div>
		</div>
	</section> <!-- End  tour-section-->

	<section class="tour-section">
		<div class="full-container">
			<div class="half-container"></div>

			<div class="half-container">
			<div class="txt_container">
                	<h3>Well equiped class rooms</h3>
					<p>Classrooms are the source of vast knowledge. We have created well-equipped advanced classrooms that are designed to make learning enjoyable for students.</p>
                    <ul class="intro_icons">
                    <li><i class="pe-7s-display2"></i>Advanced Equipment</li>
                    <li><i class="pe-7s-signal"></i>Internet Connection</li>
                    <li><i class="pe-7s-monitor"></i>Comfortable Seatings</li>
                    </ul>
				</div>
			</div>
		</div>
	</section> <!-- End  tour-section-->

	<section class="tour-section">
		<div class="full-container">
			<div class="half-container"></div>

			<div class="half-container">
				<div class="txt_container">
                	<h3>Qualified Teachers for a better education</h3>
					<p>Skilled and dedicated teachers are the true source of knowledge. ABC Academy is blessed with talented mentors for leading your path to success.</p>
                    <ul class="intro_icons">
                    <li><i class="pe-7s-medal"></i>Dedicated Professionals</li>
                    <li><i class="pe-7s-rocket"></i>Interactive Learning Sections</li>
                    <li><i class="pe-7s-study"></i>Building Learning Enthusiasm</li>
                    </ul>
				</div>
			</div>
		</div>
	</section><!-- End  tour-section-->
    
     <section class="tour-section">
		<div class="full-container">
			<div class="half-container"></div>

			<div class="half-container">
				<div class="txt_container">
                	<h3>Placement Support For All</h3>
					<p>
						The main purpose of learning is to acquire the dream job in the relevant area of expertise. We deliver complete assistance for your placement in the best company.
					</p>
                    <ul class="intro_icons">
                    <li><i class="pe-7s-ball"></i>Career Inspiration</li>
                    <li><i class="pe-7s-smile"></i>Placement Support</li> 
                     <li><i class="pe-7s-class"></i>Secure Future</li> 
                     </ul>
				</div>
			</div>
		</div>
	</section> <!-- End  tour-section  -->
    
     <section class="tour-section">
		<div class="full-container">
			<div class="half-container"></div>

			<div class="half-container">
				<div class="txt_container">
                	<h3>Featured Courses</h3>
					<p>
						Our goal is to deliver exceptional courses for learning enthusiasts. ABC Training Academy introduces a variety of courses for our students to shine bright in the future.
					</p>
                    <ul class="intro_icons">
                    <li><i class="pe-7s-culture"></i>Montessori training</li>
                    <li><i class="pe-7s-bookmarks"></i>Fashion Designing</li>
                    <li><i class="pe-7s-culture"></i>Beautician Course </li>
                    <li><i class="pe-7s-bookmarks"></i>Nursery TTC</li>
                    <li><i class="pe-7s-culture"></i>Garment Making</li>
                    <li><i class="pe-7s-bookmarks"></i>Short programs</li>
                    <!-- <li><i class="pe-7s-coffee"></i>Bar and restaurant</li> -->
                    </ul>
				</div>
			</div>
		</div>
	</section> <!-- End  tour-section-->
    
    <section class="tour-section">
		<div class="full-container">
			<div class="half-container"></div>

			<div class="half-container">
				<div class="txt_container">
                	<h3>Feel Free To Connect With Us</h3>
					<p>We are pleased to answer your queries. Feel free to connect with ABC Training Academy and get updated with us.</p>
                	<a href="" class="button">Contact us</a>
				</div>
			</div>
		</div>
	</section> <!-- End  tour-section-->

	<nav>
		<ul class="vertical-nav">
			<li><a href="" class="prev inactive">Next</a></li>
			<li><a href="" class="next">Prev</a></li>
		</ul>
	</nav> <!-- End vertical-nav-->
    
    <nav>
		<ul class="top-nav">
			<li><a href="" class="back"><i class="arrow_back"></i></a></li>
		</ul>
	</nav> <!-- End top-nav-->

<!-- Common scripts -->
<script src="{% static 'websites/js/jquery-1.11.2.min.js' %}"></script>
<script src="{% static 'websites/js/functions.js' %}"></script>

<!-- Specific scripts -->
<script src="{% static 'websites/js/tour.min.js' %}"></script>


</body>
</html>