{% extends 'website/index.html' %}
{% load static %}
{% block content %}


<div class="sub_header bg_1">
    <div id="intro_txt">
        <h1>ABC academy <strong>Montessori</strong> course</h1>
        <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Obcaecati, sequi.</p>
    </div>
</div>
<!--End sub_header -->


<div class="container_gray_bg">
    <div id="position">
        <div class="container">
            <ul>
                <li><a href="">Home</a></li>
                <li><a href="">Category</a></li>
                <li>Page active</li>
            </ul>
        </div>
    </div><!-- Position -->
    <div class="container margin_60">
        <div class="row">

            <div class="col-md-9">
                <div class="box_style_1">
                    <div class="indent_title_in">
                        <i class="pe-7s-news-paper"></i>
                        <h3>Summary</h3>
                        <p>Lorem ipsum dolor sit amet consectetur, adipisicing elit. Eum, dolore?</p>
                    </div>
                    <div class="wrapper_indent">
                        <p>
                            Lorem ipsum dolor sit amet consectetur adipisicing elit. Suscipit nulla quos tempora,
                            consequuntur nam illo quidem, voluptatem iusto odio corrupti et dolorem quisquam maxime at
                            labore earum nemo. Esse dicta odio facere sunt, debitis cum exercitationem quae quaerat quia
                            soluta fugit repudiandae sed totam molestiae dolorem! Sequi beatae provident reiciendis.
                        </p>
                        <p>
                            Lorem ipsum dolor sit amet consectetur adipisicing elit. Aliquam optio doloremque
                            repudiandae nesciunt est a repellendus natus nemo recusandae quisquam quod, architecto amet.
                            Exercitationem dignissimos quo, quam officia voluptatibus laborum?
                        </p>
                        <p>
                            Lorem ipsum dolor sit, amet consectetur adipisicing elit. Dignissimos enim possimus quam
                            numquam atque aliquam suscipit, nihil nam minima? Molestias alias explicabo quae animi
                            libero?
                        </p>
                        <!-- <p class="add_bottom_30">Lorem ipsum dolor sit amet, nam ei aperiam <strong>dolorum
                                nominati</strong>, porro possit ne qui, libris consectetuer has no. Te saepe
                            epicurei apeirian his, vim an minim delicatissimi. Et ius tota recusabo democritum, cum
                            choro consul urbanitas eu. At nemore quodsi concludaturque per, nam <a href="#0"
                                class="hvr-underline-reveal"><strong>adhuc noster accusam ad</strong></a>. Vim id
                            aliquid dolorum, nam case graece ea.</p> -->
                        <div class="row">
                            <div class="col-md-6">
                                <p><img src="{% static 'websites/img/course_1_1_thumb.jpg' %}" alt=""
                                        class="img-responsive"></p>
                                <h4>Main targets</h4>
                                <p>
                                    Lorem, ipsum dolor sit amet consectetur adipisicing elit. Ex ea iure laudantium in
                                    dolor. Provident at vel, ab perspiciatis tenetur libero enim quibusdam nulla
                                    nesciunt, voluptatibus quidem voluptates, non maxime?
                                </p>
                            </div>
                            <div class="col-md-6">
                                <p><img src="{% static 'websites/img/course_1_2_thumb.jpg' %}" alt=""
                                        class="img-responsive"></p>
                                <h4>Mission and Vision</h4>
                                <p>
                                    Lorem ipsum dolor sit amet consectetur adipisicing elit. Maxime officia molestiae
                                    suscipit temporibus dolorem optio velit autem laboriosam ut ullam? Laudantium
                                    nostrum asperiores quod non aliquam, obcaecati exercitationem dignissimos iste in
                                    quas amet facere ullam.
                                </p>
                            </div>
                        </div>
                    </div>
                    <hr class="styled_2">
                    <div class="indent_title_in">
                        <i class="pe-7s-display1"></i>
                        <h3>Lessons</h3>
                        <p>Mussum ipsum cacilds, vidis litro abertis.</p>
                    </div>
                    <div class="wrapper_indent">
                        <p>
                            Lorem, ipsum dolor sit amet consectetur adipisicing elit. Vitae eaque dignissimos
                            accusantium veniam similique tempore voluptatem fuga recusandae debitis vel.
                        </p>
                        <div class="row">
                            <div class="col-md-6">
                                <ul class="list_style_1">
                                    <li>History</li>
                                    <li>Natural Science</li>
                                    <li>Social Science</li>
                                    <li>Mathematics</li>
                                </ul>
                            </div>
                            <div class="col-md-6">
                                <ul class="list_style_1">
                                    <li>Writing</li>
                                    <li>Literature</li>
                                    <li>Social Science</li>
                                    <li>Cultural Diversity</li>
                                </ul>
                            </div>
                        </div>
                    </div>

                    <hr class="styled_2">

                    <div class="indent_title_in">
                        <i class="pe-7s-user"></i>
                        <h3>Main Teachers</h3>
                        <p>Lorem ipsum dolor sit dignissimos consequuntur minus!</p>
                    </div>
                    <div class="wrapper_indent">
                        <p>Zril causae ancillae sit ea. Dicam veritus mediocritatem sea ex, nec id agam eius. Te pri
                            facete latine salutandi, scripta mediocrem et sed, cum ne mundi vulputate. Ne his sint
                            graeco detraxit, posse exerci volutpat has in.</p>
                        <div class="row">
                            <div class="col-md-6 col-sm-6">
                                <ul class="list_teachers">
                                    <li><a href="">
                                            <figure><img src="img/teacher_1_thumb.jpg" alt="" class="img-rounded">
                                            </figure>
                                            <h5>staff name</h5>
                                            <p>subject</p><i class="pe-7s-angle-right-circle"></i>
                                        </a></li>
                                    <li><a href="">
                                            <figure><img src="img/teacher_2_thumb.jpg" alt="" class="img-rounded">
                                            </figure>
                                            <h5>staff name</h5>
                                            <p>subject</p><i class="pe-7s-angle-right-circle"></i>
                                        </a></li>
                                    <li><a href="">
                                            <figure><img src="img/teacher_3_thumb.jpg" alt="" class="img-rounded">
                                            </figure>
                                            <h5>staff name</h5>
                                            <p>subject</p><i class="pe-7s-angle-right-circle"></i>
                                        </a></li>
                                </ul>
                            </div>
                            <div class="col-md-6 col-sm-6">
                                <ul class="list_teachers">
                                    <li><a href="">
                                            <figure><img src="img/teacher_4_thumb.jpg" alt="" class="img-rounded">
                                            </figure>
                                            <h5>staff name</h5>
                                            <p>subject</p><i class="pe-7s-angle-right-circle"></i>
                                        </a></li>
                                    <li><a href="">
                                            <figure><img src="img/teacher_5_thumb.jpg" alt="" class="img-rounded">
                                            </figure>
                                            <h5>staff name</h5>
                                            <p>subject</p><i class="pe-7s-angle-right-circle"></i>
                                        </a></li>
                                    <li><a href="">
                                            <figure><img src="img/teacher_6_thumb.jpg" alt="" class="img-rounded">
                                            </figure>
                                            <h5>staff name</h5>
                                            <p>subject</p><i class="pe-7s-angle-right-circle"></i>
                                        </a></li>
                                </ul>
                            </div>
                        </div>
                    </div>
                    <hr class="styled_2">
                    <div class="indent_title_in">
                        <i class="pe-7s-cloud-download"></i>
                        <h3>Why choose ABC academy</h3>
                        <p>Lorem ipsum dolor sit, amet consectetur adipisicing.</p>
                    </div>
                    <div class="wrapper_indent">
                        <p class="add_bottom_30">
                            Lorem ipsum dolor sit amet consectetur adipisicing elit. Neque sed, dolorum totam reiciendis
                            eos velit dolores earum aliquid praesentium quisquam soluta cum sunt modi nesciunt eveniet,
                            eum obcaecati incidunt facilis temporibus corrupti accusamus non quas, in recusandae?
                            Corrupti doloremque cum ipsum saepe alias molestiae officiis! Repellendus delectus dolorem
                            obcaecati ipsa?
                        </p>
                        <div class="row">
                            <div class="col-md-6">
                                <!-- <p><img src="{% static 'websites/img/course_1_1_thumb.jpg' %}" alt="" class="img-responsive"></p> -->
                                <h4><strong>RESULTS</strong></h4>
                                <p>
                                    Lorem, ipsum dolor sit amet consectetur adipisicing elit. Ex ea iure laudantium in
                                    dolor. Provident at vel, ab perspiciatis tenetur libero enim quibusdam nulla
                                    nesciunt, voluptatibus quidem voluptates, non maxime?
                                </p>
                            </div>
                            <div class="col-md-6">
                                <!-- <p><img src="{% static 'websites/img/course_1_2_thumb.jpg' %}" alt="" class="img-responsive"></p> -->
                                <h4><strong>HIGH QUALITY LINKS</strong></h4>
                                <p>
                                    Lorem ipsum dolor sit amet consectetur adipisicing elit. Maxime officia molestiae
                                    suscipit temporibus dolorem optio velit autem laboriosam ut ullam? Laudantium
                                    nostrum asperiores quod non aliquam, obcaecati exercitationem dignissimos iste in
                                    quas amet facere ullam.
                                </p>
                            </div>
                        </div>
                        <div class="row">
                            <div class="col-md-6">
                                <!-- <p><img src="{% static 'websites/img/course_1_1_thumb.jpg' %}" alt="" class="img-responsive"></p> -->
                                <h4><strong>LIVE CHAT SUPPORT</strong></h4>
                                <p>
                                    Lorem, ipsum dolor sit amet consectetur adipisicing elit. Ex ea iure laudantium in
                                    dolor. Provident at vel, ab perspiciatis tenetur libero enim quibusdam nulla
                                    nesciunt, voluptatibus quidem voluptates, non maxime?
                                </p>
                            </div>
                            <div class="col-md-6">
                                <!-- <p><img src="{% static 'websites/img/course_1_2_thumb.jpg' %}" alt="" class="img-responsive"></p> -->
                                <h4><strong>TRANSPARECY</strong></h4>
                                <p>
                                    Lorem ipsum dolor sit amet consectetur adipisicing elit. Maxime officia molestiae
                                    suscipit temporibus dolorem optio velit autem laboriosam ut ullam? Laudantium
                                    nostrum asperiores quod non aliquam, obcaecati exercitationem dignissimos iste in
                                    quas amet facere ullam.
                                </p>
                            </div>
                        </div>
                    </div>

                    <hr class="styled_2">
                </div>
            </div>

            <aside class="col-md-3">
                <div class="banner">
                    <i class=" iconcustom-school"></i>
                    <h3>Take a campus tour</h3>
                    <p>
                        Lorem ipsum dolor sit amet consectetur adipisicing elit. Ab quis eos, autem itaque rerum saepe!
                    </p>
                    <a href="{% url 'web:tours' %}" class="banner_bt">Start tour</a>
                </div>
                <h4><strong>How to apply</strong></h4>
                <p>
                    Lorem, ipsum dolor sit amet consectetur adipisicing elit. Possimus, deserunt at. Ad voluptas eveniet
                    aliquid, vero nihil natus dignissimos harum.
                </p>
                <hr class="styled">
                <div class="box_side">
                    <h5>By Phone</h5>
                    <i class="icon-phone"></i>
                    <p>
                        <a href="">(+91) – 9037304624</a><br>
                        <small>Monday to Friday 9.00am - 6.00pm</small>
                    </p>
                </div>
                <hr class="styled">
                <div class="box_side">
                    <h5>Apply Online</h5>
                    <i class="icon_desktop"></i>
                    <p>
                        Lorem ipsum dolor sit amet consectetur adipisicing elit. Nisi in numquam eligendi. Blanditiis
                        explicabo similique mollitia doloremque, temporibus expedita rem.
                    </p>
                    <p>
                        <a href="{% url 'web:onlineapplication' %}" class="button small">Apply online</a>
                    </p>
                </div>
            </aside>
        </div>
        <!--End row -->
    </div>
    <!--End container -->
</div>
<!--End container_gray_bg -->


{% endblock %}