{% extends 'website/index.html' %}
{% load static %}
{% block content %}


<div class="sub_header bg_1">
    <div id="intro_txt">
        <h1>ABC academy <strong>Montessori</strong> course</h1>
        <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Obcaecati, sequi.</p>
    </div>
</div>
<!--End sub_header -->


<div class="container_gray_bg">
    <div id="position">
        <div class="container">
            <ul>
                <li><a href="">Home</a></li>
                <li><a href="">Category</a></li>
                <li>Page active</li>
            </ul>
        </div>
    </div><!-- Position -->
    <div class="container margin_60">
        <div class="row">

            <div class="col-md-9">
                <div class="box_style_1">
                    <div class="indent_title_in">
                        <i class="pe-7s-news-paper"></i>
                        <h3>Summary</h3>
                        <!-- <p>Lorem ipsum dolor sit amet consectetur, adipisicing elit. Eum, dolore?</p> -->
                    </div>
                    <div class="wrapper_indent">
                        <p>
                            Montessori training is a transformational journey that deepens one's understanding of children's potential and their ability to transform the world. Dr Maria Montessori gave special consideration to the formative psychic powers of the young child, which lead to all-around development in early childhood development (ECE and ECD).
                        </p>
                        <p>
                            This is an immaculate course for those who are inquisitive in Montessori Teaching. The course material is devised to comprehend and enforce the technology of Montessori. As there is a considerable demand for proficient Montessori in India and abroad.
                        </p>
                        <p>
                            This course is suggested to all proficient teachers of young children who wish to acquire insight into the best way to individualize their teaching curriculum, so that children of mixed proficiencies may work at their own pace. Teachers consider this course as an up-gradation and implemented the Montessori methodology in conventional schools.
                        </p>
                        <!-- <p class="add_bottom_30">Lorem ipsum dolor sit amet, nam ei aperiam <strong>dolorum
                                nominati</strong>, porro possit ne qui, libris consectetuer has no. Te saepe
                            epicurei apeirian his, vim an minim delicatissimi. Et ius tota recusabo democritum, cum
                            choro consul urbanitas eu. At nemore quodsi concludaturque per, nam <a href="#0"
                                class="hvr-underline-reveal"><strong>adhuc noster accusam ad</strong></a>. Vim id
                            aliquid dolorum, nam case graece ea.</p> -->
                        <div class="row">
                            <div class="col-md-12">
                                <p><img src="{% static 'websites/img/course_1_1_thumb.jpg' %}" alt=""
                                        class="img-responsive"></p>
                                <h4>Main targets</h4>
                                <p>
                                    The course is mainly focused on the concepts of Montessori principles, such as 'the absorbent mind, sensitive periods and the child tendencies, the subconscious power, which guide the child in self-construction and privilege to comprehend on its own within a structured environment. Dr Maria Montessori described childhood as the process of how the child develops his or her adult personality in accordance with a hidden yet determined plan of nature.
                                </p>
                            </div>
                            <!-- <div class="col-md-6">
                                <p><img src="{% static 'websites/img/course_1_2_thumb.jpg' %}" alt=""
                                        class="img-responsive"></p>
                                <h4>Mission and Vision</h4>
                                <p>
                                    Lorem ipsum dolor sit amet consectetur adipisicing elit. Maxime officia molestiae
                                    suscipit temporibus dolorem optio velit autem laboriosam ut ullam? Laudantium
                                    nostrum asperiores quod non aliquam, obcaecati exercitationem dignissimos iste in
                                    quas amet facere ullam.
                                </p>
                            </div> -->
                        </div>
                    </div>
                    <hr class="styled_2">
                    <div class="indent_title_in">
                        <i class="pe-7s-display1"></i>
                        <h3>BENEFITS OF THE COURSE</h3>
                        <!-- <p>Mussum ipsum cacilds, vidis litro abertis.</p> -->
                    </div>
                    <div class="wrapper_indent">
                        <!-- <p>
                            Lorem, ipsum dolor sit amet consectetur adipisicing elit. Vitae eaque dignissimos
                            accusantium veniam similique tempore voluptatem fuga recusandae debitis vel.
                        </p> -->
                        <div class="row">
                            <div class="col-md-12">
                                <ul class="list_style_1">
                                    <li>Flexible curriculum.</li>
                                    <li>Help to arrange a cohesive and scientific environment which aids in self-learning.</li>
                                    <li>Authorizes to teach at own pace, scientific technique of teaching, reality orientated and specific materials – (sense of order).</li>
                                    <li>Preferences on activities according to the inner needs of the children.</li>
                                    <li>Development of child-centred learning environment, self-education through self-correction methods.</li>
                                    <li>Recognition of sensitive periods in each child.</li>
                                    <li>Creating multi-sensory materials to develop a specific skill should be a priority.</li>
                                    <li>Dig up the benefits of yoga, mindfulness and nourishment into the children.</li>
                                </ul>
                            </div>
                        </div>
                    </div>

                    <!-- <hr class="styled_2"> -->

                    <!-- <div class="indent_title_in">
                        <i class="pe-7s-user"></i>
                        <h3>Main Teachers</h3>
                        <p>Lorem ipsum dolor sit dignissimos consequuntur minus!</p>
                    </div> -->
                    <!-- <div class="wrapper_indent">
                        <p>Zril causae ancillae sit ea. Dicam veritus mediocritatem sea ex, nec id agam eius. Te pri
                            facete latine salutandi, scripta mediocrem et sed, cum ne mundi vulputate. Ne his sint
                            graeco detraxit, posse exerci volutpat has in.</p>
                        <div class="row">
                            <div class="col-md-6 col-sm-6">
                                <ul class="list_teachers">
                                    <li><a href="">
                                            <figure><img src="img/teacher_1_thumb.jpg" alt="" class="img-rounded">
                                            </figure>
                                            <h5>staff name</h5>
                                            <p>subject</p><i class="pe-7s-angle-right-circle"></i>
                                        </a></li>
                                    <li><a href="">
                                            <figure><img src="img/teacher_2_thumb.jpg" alt="" class="img-rounded">
                                            </figure>
                                            <h5>staff name</h5>
                                            <p>subject</p><i class="pe-7s-angle-right-circle"></i>
                                        </a></li>
                                    <li><a href="">
                                            <figure><img src="img/teacher_3_thumb.jpg" alt="" class="img-rounded">
                                            </figure>
                                            <h5>staff name</h5>
                                            <p>subject</p><i class="pe-7s-angle-right-circle"></i>
                                        </a></li>
                                </ul>
                            </div>
                            <div class="col-md-6 col-sm-6">
                                <ul class="list_teachers">
                                    <li><a href="">
                                            <figure><img src="img/teacher_4_thumb.jpg" alt="" class="img-rounded">
                                            </figure>
                                            <h5>staff name</h5>
                                            <p>subject</p><i class="pe-7s-angle-right-circle"></i>
                                        </a></li>
                                    <li><a href="">
                                            <figure><img src="img/teacher_5_thumb.jpg" alt="" class="img-rounded">
                                            </figure>
                                            <h5>staff name</h5>
                                            <p>subject</p><i class="pe-7s-angle-right-circle"></i>
                                        </a></li>
                                    <li><a href="">
                                            <figure><img src="img/teacher_6_thumb.jpg" alt="" class="img-rounded">
                                            </figure>
                                            <h5>staff name</h5>
                                            <p>subject</p><i class="pe-7s-angle-right-circle"></i>
                                        </a></li>
                                </ul>
                            </div>
                        </div>
                    </div> -->
                    <hr class="styled_2">
                    <div class="indent_title_in">
                        <i class="pe-7s-cloud-download"></i>
                        <h3>Why choose ABC academy</h3>
                        <p>Start building your Montessori TTC career with ABC Academy</p>
                    </div>
                    <div class="wrapper_indent">
                        <p class="add_bottom_30">
                            ABC Academy is one of the leading Montessori TTC course providers based in Kerala. We look forward to educating the learning enthusiasts to build secure career opportunities for students. Our academy is blessed with a skilled team of professionals who strives to produce the best outputs for every student.
                        </p>
                        <div class="row">
                            <div class="col-md-6">
                                <!-- <p><img src="{% static 'websites/img/course_1_1_thumb.jpg' %}" alt="" class="img-responsive"></p> -->
                                <h4><strong>RESULTS</strong></h4>
                                <p>
                                    With over a decade of experience in providing outstanding educational services to students in Kerala, we continuously monitor their academic progress so they are able to reach their academic goals.
                                </p>
                            </div>
                            <div class="col-md-6">
                                <!-- <p><img src="{% static 'websites/img/course_1_2_thumb.jpg' %}" alt="" class="img-responsive"></p> -->
                                <h4><strong>HIGH QUALITY LINKS</strong></h4>
                                <p>
                                    As one of the best training service providers in Kerala, we take pride in assisting our students in their academic performance by delivering high-quality links to support the students.
                                </p>
                            </div>
                        </div>
                        <div class="row">
                            <div class="col-md-6">
                                <!-- <p><img src="{% static 'websites/img/course_1_1_thumb.jpg' %}" alt="" class="img-responsive"></p> -->
                                <h4><strong>LIVE CHAT SUPPORT</strong></h4>
                                <p>
                                    Having been known as one of the best course providers in Kerala, we strive to provide students with high-quality academic support by providing live chat support for aspirants.
                                </p>
                            </div>
                            <div class="col-md-6">
                                <!-- <p><img src="{% static 'websites/img/course_1_2_thumb.jpg' %}" alt="" class="img-responsive"></p> -->
                                <h4><strong>TRANSPARECY</strong></h4>
                                <p>
                                    ABC Academy is one of the top-rated educational institutions in Kerala that strive to support students and monitor academic progress and strive to maintain transparency with our students.
                                </p>
                            </div>
                        </div>
                    </div>

                    <hr class="styled_2">
                </div>
            </div>

            <aside class="col-md-3">
                <div class="banner">
                    <i class=" iconcustom-school"></i>
                    <h3>Take a campus tour</h3>
                    <p>
                        Lorem ipsum dolor sit amet consectetur adipisicing elit. Ab quis eos, autem itaque rerum saepe!
                    </p>
                    <a href="{% url 'web:tours' %}" class="banner_bt">Start tour</a>
                </div>
                <h4><strong>How to apply</strong></h4>
                <p>
                    Lorem, ipsum dolor sit amet consectetur adipisicing elit. Possimus, deserunt at. Ad voluptas eveniet
                    aliquid, vero nihil natus dignissimos harum.
                </p>
                <hr class="styled">
                <div class="box_side">
                    <h5>By Phone</h5>
                    <i class="icon-phone"></i>
                    <p>
                        <a href="">(+91) – 9037304624</a><br>
                        <small>Monday to Friday 9.00am - 6.00pm</small>
                    </p>
                </div>
                <hr class="styled">
                <div class="box_side">
                    <h5>Apply Online</h5>
                    <i class="icon_desktop"></i>
                    <p>
                        Lorem ipsum dolor sit amet consectetur adipisicing elit. Nisi in numquam eligendi. Blanditiis
                        explicabo similique mollitia doloremque, temporibus expedita rem.
                    </p>
                    <p>
                        <a href="{% url 'web:onlineapplication' %}" class="button small">Apply online</a>
                    </p>
                </div>
            </aside>
        </div>
        <!--End row -->
    </div>
    <!--End container -->
</div>
<!--End container_gray_bg -->


{% endblock %}