{% extends 'adminapps/index.html' %}
{% block content %}
{% load static %}

<div class="page-wrapper">
    <div class="content container-fluid">
        <div class="page-header">
            <div class="row">
                <div class="col-sm-12">
                    <h5 class="page-title">
                        Courses
                    </h5>
                    <ul class="breadcrumb">
                        <li class="breadcrumb-item active">
                            Courses
                        </li>
                    </ul>
                </div>
            </div>
        </div>
        <div class="row">
            <div class="col-xl-3 col-sm-6 col-12 d-flex">
                <div class="card bg-one w-100">
                    <div class="card-body">
                        <div class="db-widgets d-flex justify-content-between align-items-center">
                            <div class="db-icon">
                                <i class="fas fa-user-graduate"></i>
                            </div>
                            <div class="db-info">
                                <h5>
                                    TTC 
                                </h5>
                                <h6>
                                    40
                                </h6>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <div class="col-xl-3 col-sm-6 col-12 d-flex">
                <div class="card bg-two w-100">
                    <div class="card-body">
                        <div class="db-widgets d-flex justify-content-between align-items-center">
                            <div class="db-icon">
                                <i class="fas fa-crown"></i>
                            </div>
                            <div class="db-info">
                                <h5>
                                    FASION DESIGNING
                                </h5>
                                <h6>
                                    30
                                </h6>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <div class="col-xl-3 col-sm-6 col-12 d-flex">
                <div class="card bg-three w-100">
                    <div class="card-body">
                        <div class="db-widgets d-flex justify-content-between align-items-center">
                            <div class="db-icon">
                                <i class="fas fa-building"></i>
                            </div>
                            <div class="db-info">
                                <h5>
                                    MONTISORY
                                </h5>
                                <h6>
                                    20
                                </h6>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <div class="col-xl-3 col-sm-6 col-12 d-flex">
                <div class="card bg-four w-100">
                    <div class="card-body">
                        <div class="db-widgets d-flex justify-content-between align-items-center">
                            <div class="db-icon">
                                <i class="fas fa-file-invoice-dollar"></i>
                            </div>
                            <div class="db-info">
                                <h5>
                                    LAB TECHNITION
                                </h5>
                                <h6>
                                    20
                                </h6>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>

{% endblock %}