{% extends 'adminapps/index.html' %}
{% block content %}
{% load static %}

<div class="page-wrapper">
    <div class="content container-fluid">
        <div class="page-header">
            <div class="row">
                <div class="col-sm-12">
                    <h3 class="page-title">
                        Branch
                    </h3>
                    <ul class="breadcrumb">
                        <li class="breadcrumb-item active">
                            Dashboard
                        </li>
                    </ul>
                </div>
            </div>
        </div>
        <div class="row">
            {% for b in branch %}
            <div class="col-xl-3 col-sm-6 col-12 d-flex">
                <a href="{% url 'admins:branchcourse' %}">
                    <div class="card" style="width: 18rem;">
                        <img class="card-img-top" src="/static/webapp/img/login.jpg" alt="Card image cap" style="height: 250px;">
                        <div class="card-body">
                        <p class="card-text">{{ b.branch_name}}</p>
                        <p class="card-text">{{ b.branch_id }}</p>
                        </div>
                    </div>
                </a>
            </div>
            {% endfor %}
        </div>  
    </div>
</div>
 
{% endblock %}