{% extends 'adminapps/index.html' %}
{% load static %}
{% block content %}
    <div class="page-wrapper">
        <div class="content container-fluid">
            <div class="row justify-content-lg-center">
                <div class="col-lg-12">
                    <div class="row">
                        <div class="col-lg-12">
                            <div class="card">
                                {% for i in answer %}
                                <div class="profile-header">
                                    <div class="row align-items-center">
                                       <div class="col ms-md-n2 profile-user-info">
                                        <h4 class="user-name mb-0"></h4>
                                        <h6 class="text-muted">{{i.question.question}}</h6>
                                       
                                        <div class="about-text">{{i.savedaswer}}</div>
                                    </div>
                                       
                                        
                                    </div>
                                </div>
                                {% endfor %}
                              
                               
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
    
{% endblock %}
