{% extends 'adminapps/index.html' %}
{% load static %}
{% block content %}


<div class="page-wrapper">
    <div class="content container-fluid">
        <div class="row justify-content-lg-center">
            <div class="col-lg-12">

                <div class="row">
                    <div class="col-lg-8">
                        <div class="card">
                            <!-- <div class="card-header">
                                <h6 class="card-title d-flex justify-content-between">
                                    <span style="color: navy;"><i class="fa fa-edit"></i> {{exam.exam_name}}</span>
                                    <span style="color: navy;"> Total Mark : {{exam.total_mark}}</span>
                                </h6>
                            </div> -->
                         
                             <div class="card-body">
                                <h6 class="card-title d-flex justify-content-between">
                                    <span> Question Number : </span>
                                    <span> Mark :</span>
                                </h6><br>

                                <form action="">
                                    <ul class="list-group list-group-numbered">
                                        <li class="py-0">
                                       sdsfzjlzsd flar
                                        </li>
                                    </ul>
                                   
                                    <ul class="list-group list px-4 ">
                                        <li>
                                            <input class="form-check-input me-1" type="checkbox" value=""
                                                aria-label="...">
                                            First checkbox
                                        </li>
                                        <li>
                                            <input class="form-check-input me-1" type="checkbox" value=""
                                                aria-label="...">
                                            Second checkbox
                                        </li>
                                        <li>
                                            <input class="form-check-input me-1" type="checkbox" value=""
                                                aria-label="...">
                                            Third checkbox
                                        </li>
                                        <li>
                                            <input class="form-check-input me-1" type="checkbox" value=""
                                                aria-label="...">
                                            Fourth checkbox
                                        </li>
                                        <li>
                                            <input class="form-check-input me-1" type="checkbox" value=""
                                                aria-label="...">
                                            Fifth checkbox
                                        </li>
                                    </ul>
                                </form>
                            </div> 
                          
                            
                        </div>
                       
                    </div>

                    

                </div>

            </div>
        </div>
    </div>
</div>


{% endblock %}