{% extends 'adminapps/index.html' %}
{% load static %}
{% block content %}

<div class="page-wrapper">
    <div class="content container-fluid">
        <div class="row">
            {% for b in batches %}
                <div class="col-xl-3 col-sm-6 col-12">
                    <div class="card">
                        <div class="card-body">
                            <div class="dash-widget-header">
                                
                                <div class="dash-count">
                                    <div class="dash-title">

                                        <h5>{{b.course.couse_name |upper}} </h5><p>{{b.starting_date}}-{{b.ending_date}}</p>
                                    </div>
                                    <!-- <div class="dash-counts">
                                        <p>
                                            2022-2023
                                        </p>
                                        
                                    </div> -->
                                </div>
                            </div>
                            <div class="">
                                <a href="{% url 'admins:examsadd' b.id %}" class="btn btn-rounded btn-success " >Add Exam</a> 
                                <!-- <a href="{% url 'admins:examsadd' b.id %}" class="btn btn-rounded btn-primary px-4 " style="margin-left: 30px;" >View</a> -->
                            </div>
                        </div>
                    </div>
                </div>
            {% endfor %}   
        </div> 
    </div>
</div>

{% endblock %}