{% extends 'adminapps/index.html' %}
{% block content %}
{% load static %}


<div class="page-wrapper">
    <div class="content container-fluid">

        {% if status == 1 %}
        
            <div class="alert alert-success alert-dismissible fade show" role="alert">
                <strong>Successfully</strong> paid the amount.
                <button type="button" class="btn-close" data-bs-dismiss="alert"
                    aria-label="Close"></button>
            </div>
        
        {% endif %}

        <div class="page-header">
            <div class="row align-items-center">
                <div class="col">
                    <h3 class="page-title">
                        Add Fees
                    </h3>
                </div>
            </div>
        </div>
        <div class="row">
            <div class="col-sm-12">
                <div class="card">
                    <div class="card-body">
                        <form method="post" action="">
                            {% csrf_token %}
                            <div class="row">
                                <div class="col-12">
                                    <h5 class="form-title">
                                        <span>Fees Information</span>
                                    </h5>
                                </div>
                                <div class="col-12 col-sm-6">
                                    <div class="form-group">
                                        <label>
                                            Student ID
                                        </label>
                                        <input type="text" id="studentid" name="studentid" class="form-control" required>
                                    </div>
                                </div>
                                <div class="col-12 col-sm-6">
                                    <div class="form-group">
                                        <label>
                                            Student Name
                                        </label>
                                        <input type="text" readonly  id="first_name" class="form-control" required>
                                    </div>
                                </div>
                                <div class="col-12 col-sm-6">
                                    <div class="form-group">
                                        <label>
                                            Course 
                                        </label>
                                        <input type="text" readonly  id="course" class="form-control">
                                    </div>
                                </div>
                                <!-- <div class="col-12 col-sm-6">
                                    <div class="form-group">
                                        <label>
                                            Course
                                        </label>
                                        <select name="course" id="course" class="form-control select" required>
                                            <option selected disabled>
                                                Select Subject
                                            </option>
                                            {% for i in course %}
                                            <option value="{{i.id}}">{{i.course.couse_name}} {{i.starting_date}} to
                                                {{i.ending_date}} </option>
                                            {% endfor %}

                                        </select>
                                    </div>
                                </div> -->
                                <div class="col-12 col-sm-6">
                                    <div class="form-group">
                                        <label>
                                            Course Fee
                                        </label>
                                        <input type="text" readonly name="totalprice" id="totalprice" class="form-control" required>
                                    </div>
                                </div>
                                <div class="col-12 col-sm-6">
                                    <div class="form-group">
                                        <label>
                                            Balance Amount
                                        </label>
                                        <input type="text" readonly name="totalprice" id="balanceamount" class="form-control" required>
                                    </div>
                                </div>
                                <div class="col-12 col-sm-6">
                                    <div class="form-group">
                                        <label>
                                            Fees Amount
                                        </label>
                                        <input type="number" name="paidamount" class="form-control" required  id="paidamount">
                                    </div>
                                </div>  
                                <div class="col-12 col-sm-6">
                                    <div class="form-group">
                                        <label>
                                            Paid Date
                                        </label>
                                        <input type="date" name="paiddate" class="form-control" required>
                                    </div>
                                </div>
                                <div class="col-12">
                                    <button type="submit" class="btn btn-primary">
                                        Submit
                                    </button>
                                </div>
                            </div>
                        </form>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>

<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>

<script>
    $('#studentid').keyup(function () {
        $.ajax({
            url: "getdatapayment",
            type: 'POST',
            data: {
                'studentid': $('#studentid').val(),
                'course': $('#course').val(),
        

            },
            success: function (responce) {
                $('#first_name').val(responce.details.name)
                $('#totalprice').val(responce.details.price)
                $('#course').val(responce.details.coursename)
                $('#balanceamount').val(responce.details.balanceamount)
                $('#paidamount').attr('max',responce.details.balanceamount)
            }

        })

    })

</script>

{% endblock %}