{% load static %}
<!DOCTYPE html>
<html lang="en">
    <head>
        <meta charset="utf-8">
        <meta name="viewport"
              content="width=device-width, initial-scale=1.0, user-scalable=0">
        <title>ABC TRAINING ACADEMY</title>
        <link rel="shortcut icon" href="{% static 'websites/logo.webp' %}">
        <link rel="stylesheet" href="https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,500;0,600;0,700;1,400&amp;display=swap">
        <link rel="stylesheet" href="{% static 'webapp/plugins/bootstrap/css/bootstrap.min.css' %}">
        <link rel="stylesheet" href="{% static 'webapp/plugins/fontawesome/css/fontawesome.min.css' %}">
        <link rel="stylesheet" href="{% static 'webapp/plugins/fontawesome/css/all.min.css' %}">
        <link rel="stylesheet" href="{% static 'webapp/css/style.css' %}">
    </head>
    <body>
        <div class="main-wrapper">
            <div class="header">
                <div class="header-left">
                    <a href="index.html" class="logo">
                        <img src="{% static 'websites/logo.webp' %}" alt="Logo">
                    </a>
                    <a href="index.html" class="logo logo-small">
                        <img src="{% static 'websites/logo.webp' %}" alt="Logo" width="30" height="30">
                    </a>
                </div>
                <a href="javascript:void(0);" id="toggle_btn">
                    <i class="fas fa-align-left"></i>
                </a>
                <!-- <div class="top-nav-search">
                    <form>
                        <input type="text" class="form-control" placeholder="Search here">
                        <button class="btn" type="submit">
                            <i class="fas fa-search"></i>
                        </button>
                    </form>
                </div> -->
                <a class="mobile_btn" id="mobile_btn">
                    <i class="fas fa-bars"></i>
                </a>
                <ul class="nav user-menu">
                    <li class="nav-item dropdown noti-dropdown">
                        <a href="#" class="dropdown-toggle nav-link" data-bs-toggle="dropdown">
                            <i class="far fa-bell"></i> <span class="badge badge-pill">3</span>
                        </a>
                        <div class="dropdown-menu notifications">
                            <div class="topnav-dropdown-header">
                                <span class="notification-title">Notifications</span>
                                <a href="javascript:void(0)" class="clear-noti">Clear All</a>
                            </div>
                            <div class="noti-content">
                                <ul class="notification-list">
                                    <li class="notification-message">
                                        <a href="#">
                                            <div class="media d-flex">
                                                <span class="avatar avatar-sm flex-shrink-0">
                                                    <img class="avatar-img rounded-circle"
                                                         alt="User Image"
                                                         src="{% static 'webapp/img/profiles/avatar-02.jpg' %}">
                                                </span>
                                                <div class="media-body flex-grow-1">
                                                    <p class="noti-details">
                                                        <span class="noti-title">Carlson Tech</span> has approved <span class="noti-title">your estimate</span>
                                                    </p>
                                                    <p class="noti-time">
                                                        <span class="notification-time">4 mins ago</span>
                                                    </p>
                                                </div>
                                            </div>
                                        </a>
                                    </li>
                                    <li class="notification-message">
                                        <a href="#">
                                            <div class="media d-flex">
                                                <span class="avatar avatar-sm flex-shrink-0">
                                                    <img class="avatar-img rounded-circle"
                                                         alt="User Image"
                                                         src="{% static 'webapp/img/profiles/avatar-11.jpg' %}">
                                                </span>
                                                <div class="media-body flex-grow-1">
                                                    <p class="noti-details">
                                                        <span class="noti-title">International Software Inc</span> has sent you a invoice in the amount of <span class="noti-title">$218</span>
                                                    </p>
                                                    <p class="noti-time">
                                                        <span class="notification-time">6 mins ago</span>
                                                    </p>
                                                </div>
                                            </div>
                                        </a>
                                    </li>
                                    <li class="notification-message">
                                        <a href="#">
                                            <div class="media d-flex">
                                                <span class="avatar avatar-sm flex-shrink-0">
                                                    <img class="avatar-img rounded-circle"
                                                         alt="User Image"
                                                         src="{% static 'webapp/img/profiles/avatar-17.jpg' %}">
                                                </span>
                                                <div class="media-body flex-grow-1">
                                                    <p class="noti-details">
                                                        <span class="noti-title">John Hendry</span> sent a cancellation request <span class="noti-title">Apple iPhone XR</span>
                                                    </p>
                                                    <p class="noti-time">
                                                        <span class="notification-time">8 mins ago</span>
                                                    </p>
                                                </div>
                                            </div>
                                        </a>
                                    </li>
                                    <li class="notification-message">
                                        <a href="#">
                                            <div class="media d-flex">
                                                <span class="avatar avatar-sm flex-shrink-0">
                                                    <img class="avatar-img rounded-circle"
                                                         alt="User Image"
                                                         src="{% static 'webapp/img/profiles/avatar-13.jpg' %}">
                                                </span>
                                                <div class="media-body flex-grow-1">
                                                    <p class="noti-details">
                                                        <span class="noti-title">Mercury Software Inc</span> added a new product <span class="noti-title">Apple MacBook Pro</span>
                                                    </p>
                                                    <p class="noti-time">
                                                        <span class="notification-time">12 mins ago</span>
                                                    </p>
                                                </div>
                                            </div>
                                        </a>
                                    </li>
                                </ul>
                            </div>
                            <div class="topnav-dropdown-footer">
                                <a href="#">View all Notifications</a>
                            </div>
                        </div>
                    </li>
                    <li class="nav-item dropdown has-arrow">
                        <a href="#" class="dropdown-toggle nav-link" data-bs-toggle="dropdown">
                            <span class="user-img">
                                <img class="rounded-circle"
                                     src="{% static 'webapp/img/profiles/avatar-01.jpg' %}"
                                     width="31"
                                     alt="Ryan Taylor">
                            </span>
                        </a>
                        <div class="dropdown-menu">
                            <div class="user-header">
                                <div class="avatar avatar-sm">
                                    <img src="{% static 'webapp/img/profiles/avatar-01.jpg' %}"
                                         alt="User Image"
                                         class="avatar-img rounded-circle">
                                </div>
                                <div class="user-text">
                                    <h6>Ryan Taylor</h6>
                                    <p class="text-muted mb-0">
                                        Administrator
                                    </p>
                                </div>
                            </div>
                            <a class="dropdown-item" href="{% url 'admins:adminprofile' %}">My Profile</a>
                            
                            <a class="dropdown-item" href="{% url 'admins:logout_view' %}">Logout</a>
                        </div>
                    </li>
                </ul>
            </div>
            <div class="sidebar" id="sidebar">
                <div class="sidebar-inner slimscroll">
                    <div id="sidebar-menu" class="sidebar-menu">
                        <ul>
                            <li class="menu-title">
                                <span>Main Menu</span>
                            </li>
                            <li {% if is_admindash %} class="active"{% endif %}>
                                <a href="{% url 'admins:admindash' %}"><i class="fas fa-user-graduate"></i> <span>Dashboard</span></span></a>
                            </li>
                            <li class="submenu" >
                                <!-- {% if is_branch %} class="active submenu"
                                {% elif is_addbranch %} class="active submenu"
                                {% endif %} -->
                                <a href=""><i class="fas fa-building"></i> <span> Branch</span> <span class="menu-arrow"></span></a>
                                <ul>
                                    <li {% if is_branch %} class="active"{% endif %}>
                                        <a href="{% url 'admins:branch' %}">Branch List</a>
                                    </li>
                                    <!-- <li>
                                        <a href="#">Branch View</a>
                                    </li> -->
                                    <li {% if is_addbranch %} class="active"{% endif %}>
                                        <a href="{% url 'admins:addbranch' %}">Add Branch</a>
                                    </li>
                                </ul>
                            </li>
                            <li {% if is_teachers %} class="active submenu"
                                {% elif is_teacherslist %} class="active submenu"
                                {% elif is_addteacher %} class="active submenu"
                                {% endif %}>
                                <a href="#"><i class="fas fa-chalkboard-teacher"></i> <span> Teachers</span> <span class="menu-arrow"></span></a>
                                <ul>
                                    <li {% if is_teachers %} class="active"{% endif %} 
                                        {% if is_teacherslist %} class="active"{% endif %}>
                                        <a href="{% url 'admins:teachers' %}">Teacher List</a>
                                    </li>
                                    <!-- <li>
                                        <a href="teacher-details.html">Teacher View</a>
                                    </li> -->
                                    <li {% if is_addteacher %} class="active"{% endif %}>
                                        <a href="{% url 'admins:addteacher' %}">Teacher Add</a>
                                    </li>
                                    <!-- <li>
                                        <a href="edit-teacher.html">Teacher Edit</a>
                                    </li> -->
                                </ul>
                            </li>
                            <li {% if is_students %} class="active submenu"
                                {% elif is_students_by_courses %} class="active submenu"
                                {% elif is_students_list %} class="active submenu"
                                {% elif is_add_student %} class="active submenu"
                                {% endif %}>
                                <a href="#"><i class="fas fa-user-graduate"></i> <span> Students</span> <span class="menu-arrow"></span></a>
                                <ul>
                                    <li {% if is_students %} class="active"{% endif %}
                                        {% if is_students_by_courses %} class="active"{% endif %}
                                        {% if is_students_list %} class="active"{% endif %}>
                                        <a href="{% url 'admins:students' %}">Student List</a>
                                    </li>
                                    <li {% if is_add_student %} class="active"{% endif %}>
                                        <a href="{% url 'admins:addstudent' %}">Student Add</a>
                                    </li>
                                    <li>
                                        <a href="{% url 'admins:editstudentadmin' %}">Student Edit</a>
                                    </li>
                                </ul>
                            </li>
                            <!-- <li class="submenu">
                                <a href="#"><i class="fas fa-building"></i> <span> Departments</span> <span class="menu-arrow"></span></a>
                                <ul>
                                    <li>
                                        <a href="departments.html">Department List</a>
                                    </li>
                                    <li>
                                        <a href="add-department.html">Department Add</a>
                                    </li>
                                    <li>
                                        <a href="edit-department.html">Department Edit</a>
                                    </li>
                                </ul>
                            </li> -->
                            <li>
                                <a href="{% url 'admins:courses' %}"><i class="fa fa-book"></i> <span>Courses</span></a>
                            </li>
                            <li>
                                <a href="{% url 'admins:batch' %}"><i class="fa fa-users"></i> <span>Batches</span></a>
                            </li>
                            <li class="menu-title">
                                <span>Management</span>         
                            </li>
                            
                            <li>
                                <a href="{% url 'admins:feesadding' %}"><i class="fas fa-comment-dollar"></i> <span>Fees</span></a>
                            </li>
                            <li>
                                <a href="{% url 'admins:exams' %}"><i class="fas fa-clipboard-list"></i> <span>Exam </span></a>
                            </li>
                           
                        </ul>
                    </div>
                </div>
            </div>
            
        {% block content  %}
        {% endblock  %}
        </div>
        {% block js %}
        {% endblock  %}
        <script src="{% static 'webapp/js/jquery-3.6.0.min.js' %}"></script>
        <script src="{% static 'webapp/plugins/bootstrap/js/bootstrap.bundle.min.js' %}"></script>
        <script src="{% static 'webapp/plugins/slimscroll/jquery.slimscroll.min.js' %}"></script>
        <script src="{% static 'webapp/plugins/apexchart/apexcharts.min.js' %}"></script>
        <script src="{% static 'webapp/plugins/apexchart/chart-data.js' %}"></script>
        <script src="{% static 'webapp/js/script.js' %}"></script>


        
    </body>
</html>
