{% extends 'adminapp/index.html' %}
{% block content %}
{% load static %}

<div class="page-wrapper">
    <div class="content container-fluid">
        <div class="page-header">
            <div class="row align-items-center">
                <div class="col">
                    <h3 class="page-title">
                        Invoice Grid
                    </h3>
                    <ul class="breadcrumb">
                        <li class="breadcrumb-item">
                            <a href="index.html">Dashboard</a>
                        </li>
                        <li class="breadcrumb-item active">
                            Invoice Grid
                        </li>
                    </ul>
                </div>
                <div class="col-auto">
                    <a href="{% url 'adminapp:addbranch' %}" class="btn btn-primary me-1">
                        <i class="fas fa-plus"></i>
                    </a>
                    <a class="btn btn-primary filter-btn"
                       href="javascript:void(0);"
                       id="filter_search">
                        <i class="fas fa-filter"></i>
                    </a>
                </div>
            </div>
            
        </div>
        <div class="row">
            <div class="col-xl-3 col-sm-6 col-12">
                <div class="card">
                    <div class="card-body">
                        <div class="dash-widget-header">
                            <span class="dash-widget-icon bg-1">
                                <i class="fas fa-dollar-sign"></i>
                            </span>
                            <div class="dash-count">
                                <div class="dash-title">
                                    Calicut
                                </div>
                                <div class="dash-counts">
                                    <p>
                                        1,642
                                    </p>
                                </div>
                            </div>
                        </div>
                        <div class="progress progress-sm mt-3">
                            <div class="progress-bar bg-5"
                                 role="progressbar"
                                 style="width: 75%"
                                 aria-valuenow="75"
                                 aria-valuemin="0"
                                 aria-valuemax="100">
                            </div>
                        </div>
                        <p class="text-muted mt-3 mb-0">
                            <a href="{% url 'adminapp:coursestudents' %}"><span class="text-danger me-1"><i class="fas fa-arrow-down me-1"></i></span></a>
                        </p>
                    </div>
                </div>
            </div>
            <div class="col-xl-3 col-sm-6 col-12">
                <div class="card">
                    <div class="card-body">
                        <div class="dash-widget-header">
                            <span class="dash-widget-icon bg-2">
                                <i class="fas fa-users"></i>
                            </span>
                            <div class="dash-count">
                                <div class="dash-title">
                                    Ramanatttukara
                                </div>
                                <div class="dash-counts">
                                    <p>
                                        3,642
                                    </p>
                                </div>
                            </div>
                        </div>
                        <div class="progress progress-sm mt-3">
                            <div class="progress-bar bg-6"
                                 role="progressbar"
                                 style="width: 65%"
                                 aria-valuenow="75"
                                 aria-valuemin="0"
                                 aria-valuemax="100">
                            </div>
                        </div>
                        <p class="text-muted mt-3 mb-0">
                            <a href="{% url 'adminapp:coursestudents' %}"><span class="text-danger me-1"><i class="fas fa-arrow-down me-1"></i></span></a>
                        </p>
                    </div>
                </div>
            </div>
            <div class="col-xl-3 col-sm-6 col-12">
                <div class="card">
                    <div class="card-body">
                        <div class="dash-widget-header">
                            <span class="dash-widget-icon bg-3">
                                <i class="fas fa-file-alt"></i>
                            </span>
                            <div class="dash-count">
                                <div class="dash-title">
                                    Mukkam
                                </div>
                                <div class="dash-counts">
                                    <p>
                                        1,041
                                    </p>
                                </div>
                            </div>
                        </div>
                        <div class="progress progress-sm mt-3">
                            <div class="progress-bar bg-7"
                                 role="progressbar"
                                 style="width: 85%"
                                 aria-valuenow="75"
                                 aria-valuemin="0"
                                 aria-valuemax="100">
                            </div>
                        </div>
                        <p class="text-muted mt-3 mb-0">
                            <a href="{% url 'adminapp:coursestudents' %}"><span class="text-danger me-1"><i class="fas fa-arrow-down me-1"></i></span></a>
                        </p>
                    </div>
                </div>
            </div>
            <div class="col-xl-3 col-sm-6 col-12">
                <div class="card">
                    <div class="card-body">
                        <div class="dash-widget-header">
                            <span class="dash-widget-icon bg-4">
                                <i class="far fa-file"></i>
                            </span>
                            <div class="dash-count">
                                <div class="dash-title">
                                    Kondotty
                                </div>
                                <div class="dash-counts">
                                    <p>
                                        2,150
                                    </p>
                                </div>
                            </div>
                        </div>
                        <div class="progress progress-sm mt-3">
                            <div class="progress-bar bg-8"
                                 role="progressbar"
                                 style="width: 45%"
                                 aria-valuenow="75"
                                 aria-valuemin="0"
                                 aria-valuemax="100">
                            </div>
                        </div>
                        <p class="text-muted mt-3 mb-0">
                            <a href="{% url 'adminapp:coursestudents' %}"><span class="text-danger me-1"><i class="fas fa-arrow-down me-1"></i></span></a>
                        </p>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>

{% endblock %}