{% extends 'adminapps/index.html' %}
{% block content %}
{% load static %}

<div class="page-wrapper">
    <div class="content container-fluid">
        <div class="page-header">
            <div class="row align-items-center">
                <div class="col">
                    <h3 class="page-title">
                        Students
                    </h3>
                </div>
                
            </div>
        </div>
        <div class="row">
            <div class="col-sm-12">
                <div class="card card-table">
                    <div class="card-body">
                        <div class="table-responsive">
                            <table class="table table-hover table-center mb-0 datatable">
                                <thead>
                                    <tr>
                                        <th>
                                            ID
                                        </th>
                                        <th>
                                            Name
                                        </th>
                                        <!-- <th>
                                            Class
                                        </th> -->
                                        <th>
                                            DOB
                                        </th>
                                        <th>
                                            Student Number
                                        </th>
                                        <th>
                                            Parent Name
                                        </th>
                                        <th>
                                            Email
                                        </th>
                                       
                                        <th class="text-end">
                                            Action
                                        </th>
                                    </tr>
                                </thead>
                                <tbody>
                                    {% for i in students%}
                                        <tr>
                                            <td>
                                                {{i.student_id}}
                                            </td>
                                            <td>
                                                <h2 class="table-avatar">
                                                    
                                                    <a href="#">{{i.first_name}}</a>
                                                </h2>
                                            </td>
                                            <!-- <td>
                                                10 A
                                            </td> -->
                                            <td>
                                                {{i.dob}}
                                            </td>
                                            <td>
                                                {{i.phone}}
                                            </td>
                                            <td>
                                                {{i.fathername}}
                                            </td>
                                            <td>
                                                {{i.email}}
                                            </td>
                                            
                                            <td class="text-end">
                                                <div class="actions">
                                                    <!-- <a href="edit-student.html" class="btn btn-sm bg-success-light me-2">
                                                        <i class="fas fa-pen"></i>
                                                    </a> -->
                                                    <a onclick="deleteStudent('{{ i.id }}')" class="btn btn-sm bg-danger-light">
                                                        <i class="fas fa-trash"></i>
                                                    </a>
                                                </div>
                                            </td>
                                        </tr>
                                    {% endfor %}
                                </tbody>
                            </table>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>

<script src="https://unpkg.com/sweetalert/dist/sweetalert.min.js"></script>
<script>
    function deleteStudent(id,cid,bid) {
        swal({
            title: "Are you sure?",
            text: "Once deleted, you will not be able to recover this imaginary file!",
            icon: "warning",
            buttons: true,
            dangerMode: true,
        })
            .then((willDelete) => {
                if (willDelete) {
                    swal("Poof! Your student has been deleted!", {
                        icon: "success",
                    });
                    setTimeout(function () {
                        window.location.href = "/adminapp/deletestudent/" + id 
                    }, 1000);
                } else {
                    swal("Your student is safe!");
                }
            });
    }
</script>

{% endblock %}