{% extends 'student/master.html' %}
{% load static %}
{% block content %}


<div class="page-wrapper">
    <div class="content container-fluid">
        <div class="page-header">
            <div class="row">
                <div class="col-sm-6">
                    <h3 class="page-title">Exams</h3>
                    <ul class="breadcrumb">
                        <li class=""><a href="{% url 'student:home' %}">Dashboard /</a></li>
                        <li class="breadcrumb-item active">Exams</li>
                    </ul>
                </div>
            </div>
        </div>



        <div class="row">
            <div class="col-sm-12">
                <div class="card card-table">
                    <div class="card-body">
                        <div class="table-responsive">
                            <table class="table table-center table-hover datatable">
                                <thead class="thead-light">
                                    <tr>
                                        <th>Exam/Subject</th>
                                        <th>Date</th>
                                        <th>Start Time</th>
                                        <th>End Time</th>
                                        <th>Total Hours</th>
                                        <th>Status</th>
                                        <th class="text-start">Actions</th>
                                    </tr>
                                </thead>
                                <tbody>
                                    {% for i in exam %}
                                        <tr>
                                            <td>
                                                <h2>
                                                    <a href="">{{i.exam_name}} </a>
                                                </h2>
                                            </td>
                                            <td><b>
                                                {{i.exam_date}}</b>
                                            </td>
                                            <td>{{i.start_time}}</td>
                                            <td>{{i.end_time}}</td>
                                            <td><b>{{i.duration}} MINUTES</b></td>
                                            <td><span class="badge badge-pill bg-warning-light">Not Attended</span></td>
                                            <td class="text-start">
                                                <a href="{% url 'student:examinst' i.id %}"
                                                    class="btn btn-sm btn-white text-primary me-2"><i
                                                        class="far fa-edit me-1"></i> Attend Exam</a>
                                            </td>
                                        </tr>
                                    {% endfor %}
                                    
                                    
                                </tbody>
                            </table>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>


{% endblock %}



