{% extends 'student/master.html' %}
{% load static %}
{% block content %}
    <style>
    .error{
        color:red;
    }
    </style>
    
    <div class="page-wrapper">
        <div class="content container-fluid">
            <div class="row justify-content-lg-center">
                <div class="col-lg-12">
                    {% csrf_token %}
                    <input type="hidden" value="{{ exam.id }}" name="" id="examId">
                    <div class="row">
                        <div class="col-lg-8">
                            <div class="card">
                                <div class="card-header">
                                    <h6 class="card-title d-flex justify-content-between">
                                        <span style="color: navy;"><i class="fa fa-edit"></i> {{ exam.exam_name }}</span>
                                        <span style="color: navy;">Total Mark : {{ exam.total_mark }}</span>
                                        <span style="color: navy;" id="totalquestion">Total Questions :</span>
                                        <span style="color: navy;" id="attentedquestion">Attented Questions  :</span>
                                        <input type="number" value="{{ exam.duration }}" hidden id="duration">
                                    </h6>
                                </div>
                                <form id="questionsForm">
                                    {% csrf_token %}
                                    <div class="card-body" id="questionsDiv"></div>
                                </form>
                                <!-- <div class="card-body">
                                <h6 class="card-title d-flex justify-content-between">
                                    <span>Question Number : 1</span>
                                    <span>Mark : 5</span>
                                </h6><br>

                                <form action="">
                                    <ul class="list-group list-group-numbered">
                                        <li class="py-0">
                                            The breakdown in a reverse biased p-n junction diode is more likely to occur
                                            due to....?
                                        </li>
                                    </ul>
                                    <ul class="list-group list px-4 ">
                                        <li>
                                            <input class="form-check-input me-1" type="checkbox" value="" aria-label="...">
                                            First checkbox
                                        </li>
                                        <li>
                                            <input class="form-check-input me-1" type="checkbox" value="" aria-label="...">
                                            Second checkbox
                                        </li>
                                        <li>
                                            <input class="form-check-input me-1" type="checkbox" value="" aria-label="...">
                                            Third checkbox
                                        </li>
                                        <li>
                                            <input class="form-check-input me-1" type="checkbox" value="" aria-label="...">
                                            Fourth checkbox
                                        </li>
                                        <li>
                                            <input class="form-check-input me-1" type="checkbox" value="" aria-label="...">
                                            Fifth checkbox
                                        </li>
                                    </ul>
                                </form>
                            </div> -->
                            </div>
                            <div class=" "></div>
                        </div>
                        <div class="col-lg-4">
                            <div class="card">
                                <!-- <div class="card-header">
                                    <h6 class="card-title d-flex justify-content-between">
                                        <span>
                                            <button type="button" class="btn btn-rounded btn-warning btn-sm">Mark : 10</button>
                                        </span>
                                        <span>
                                            <button type="button" class="btn btn-rounded btn-danger btn-sm">
                                                <i class="fa fa-bell"></i>&nbsp; Exam Started
                                            </button>
                                        </span>
                                    </h6>
                                </div> -->
                                <div class="card-body">
                                    <!-- <h6 class="card-title btn-sm d-grid gap-2">
                                        <a type="button" href="#" class="btn btn-primary">Instructions</a>
                                    </h6>
                                    <div class="row">
                                        <div class="col-lg-12">
                                            <div class="btn col-lg-12">
                                                <div class=" btn-group-md ">
                                                    <button type="button" class="btn btn-danger col-lg-8 col-sm-4">Finish Exam</button>
                                                    <button type="button" class="btn btn-success col-lg-3 col-sm-4">
                                                        <i class="fa fa-expand"></i>
                                                    </button>
                                                </div>
                                            </div>
                                        </div>
                                    </div> -->
                                    <div class="card-body">
                                        <h5 class=" text-center">
                                            <b>hr : min : sec</b>
                                        </h5>
                                        <h5 class="text-center">
                                            <span id="timer-countdown"></span>
                                        </h5>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
   
            <!-- Modal -->
            <div class="modal fade"
                 id="exampleModal"
                 tabindex="-1"
                 role="dialog"
                 aria-labelledby="exampleModalLabel"
                 aria-hidden="true">
                <div class="modal-dialog" role="document">
                    <div class="modal-content">
                        <div class="modal-header">
                            <h5 class="modal-title" id="exampleModalLabel"> Finish The Exam</h5>
                            <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                                <span aria-hidden="true">&times;</span>
                            </button>
                        </div>
                        <div class="modal-body">Do  You Want To Finish The Exam</div>
                        <div class="modal-footer">
                            <button type="button" class="btn btn-secondary" data-dismiss="modal">Close</button>
                            <a href="/student/examlist" class="btn btn-primary">Finish Exam</a>
                        </div>
                    </div>
                </div>
            </div>
            <!-- Modal -->
            <div class="modal fade"
                 id="timeout"
                 tabindex="-1"
                 role="dialog"
                 aria-labelledby="exampleModalLabel"
                 aria-hidden="true">
                <div class="modal-dialog" role="document">
                    <div class="modal-content">
                        <div class="modal-header">
                            <h5 class="modal-title" id="exampleModalLabel"> Finish The Exam</h5>
                            <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                                <span aria-hidden="true">&times;</span>
                            </button>
                        </div>
                        <div class="modal-body">Time Out</div>
                        <div class="modal-footer">
                            <button type="button" class="btn btn-secondary" data-dismiss="modal">Close</button>
                            <a href="/student/examlist" class="btn btn-primary">Finish Exam</a>
                        </div>
                    </div>
                </div>
            </div>
            <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>
            <script src="{% static 'teacher/plugins/countup/jquery.counterup.min.js' %}"></script>
            <script src="{% static 'teacher/plugins/countup/jquery.waypoints.min.js' %}"></script>
            <script src="{% static 'teacher/plugins/countup/jquery.missofis-countdown.js' %}"></script>
            <script src="https://ajax.aspnetcdn.com/ajax/jquery.validate/1.11.1/jquery.validate.js"></script>
            <script src="{% static 'student/questio.js' %}"></script>
        {% endblock %}
