{% load static %}
<!doctype html>
<html lang="en">

<head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0; maximum-scale=1">
    <meta name="description" content="">
    <meta name="author" content="">

    <link rel="shortcut icon" type="image/x-icon" href="images/favicon.ico">
    <title>Edumart - Educational Template</title>

    <!-- CSS -->
    <link href="{% static 'website/css/reset.css' %}" rel="stylesheet">
    <link href="{% static 'website/css/fonts.css' %}" rel="stylesheet">
    <link href="{% static 'website/assets/bootstrap/css/bootstrap.min.css' %}" rel="stylesheet">
    <link href="{% static 'website/assets/select2/css/select2.min.css' %}" rel="stylesheet">
    <link href="{% static 'website/assets/font-awesome/css/font-awesome.min.css' %}" rel="stylesheet">
    <link href="{% static 'website/assets/magnific-popup/css/magnific-popup.css' %}" rel="stylesheet">
    <link href="{% static 'website/assets/iconmoon/css/iconmoon.css' %}" rel="stylesheet">
    <link href="{% static 'website/assets/owl-carousel/css/owl.carousel.min.css' %}" rel="stylesheet">
    <link href="{% static 'website/css/animate.css' %}" rel="stylesheet">
    <link href="{% static 'website/css/style.css' %}" rel="stylesheet">

    <!-- HTML5 shim and Respond.js IE8 support of HTML5 elements and media queries -->
    <!--[if lt IE 9]>
        <script src="js/html5shiv.min.js"></script>
        <script src="js/respond.min.js"></script>
        <![endif]-->

</head>

<body>

    <!-- ==============================================
    ** Header **
    =================================================== -->
    <header>
        <!-- Start Header top Bar -->
        <div class="header-top">
            <div class="container clearfix">
                <ul class="follow-us hidden-xs">
                    <li><a href="#"><i class="fa fa-twitter" aria-hidden="true"></i></a></li>
                    <li><a href="#"><i class="fa fa-facebook-official" aria-hidden="true"></i></a></li>
                    <li><a href="#"><i class="fa fa-google-plus" aria-hidden="true"></i></a></li>
                    <li><a href="#"><i class="fa fa-youtube-play" aria-hidden="true"></i></a></li>
                    <li><a href="#"><i class="fa fa-instagram" aria-hidden="true"></i></a></li>
                </ul>
                <div class="right-block clearfix">
                    <ul class="top-nav hidden-xs">
                        <li><a href="">Register</a></li>
                        <li><a href="">Apply Online</a></li>
                        <li><a href="">Blog</a></li>
                    </ul>
                </div>
            </div>
        </div>
        <!-- End Header top Bar -->
        <!-- Start Header Middle -->
        <div class="container header-middle">
            <div class="row"> 
                <span class="col-xs-6 col-sm-3"><a href=""><img src="{% static 'images/abc.webp' %}" class="img-responsive img-fluid" alt="" style="height: 50px;width: 200px;"></a></span>
                <div class="col-xs-6 col-sm-3"></div>
                <div class="col-xs-6 col-sm-9">
                    <div class="contact clearfix">
                        <ul class="hidden-xs">
                            <li> <span>Email</span> <a href="">info@abcacademy.co.in</a> </li>
                            <li> <span>Toll Free</span> (+91) – 9037304624 </li>
                        </ul>
                        <a href="" class="login">Student Login <span class="icon-more-icon"></span></a>
                    </div>
                </div>
            </div>
        </div>
        <!-- End Header Middle -->
        <!-- Start Navigation -->
        <nav class="navbar navbar-inverse">
            <div class="container-fluid">
                <div class="navbar-header">
                    <button aria-controls="navbar" aria-expanded="false" data-target="#navbar" data-toggle="collapse"
                        class="navbar-toggle collapsed" type="button"> <span class="sr-only">Toggle navigation</span>
                        <span class="icon-bar"></span> <span class="icon-bar"></span> <span class="icon-bar"></span>
                    </button>
                </div>
                <div class="navbar-collapse collapse" id="navbar">
                    <form class="navbar-form navbar-right">
                        <input type="text" placeholder="Search Now" class="form-control">
                        <button class="search-btn"><span class="icon-search-icon"></span></button>
                    </form>
                    <ul class="nav navbar-nav">
                        <li> 
                            <a href=""> Home </a>
                        </li>
                        <li> 
                            <a href=""> About </a>
                        </li>
                        <li class="dropdown"> 
                            <a data-toggle="dropdown" href="">Our Courses <i class="fa fa-angle-down" aria-hidden="true"></i></a>
                            <ul class="dropdown-menu">
                                <li><a href="">Montessori TTC</a></li>
                                <li><a href="">Fashion Designing</a></li>
                                <li><a href="">Short-term Courses</a></li>
                            </ul>
                        </li>
                        <li> 
                            <a href=""> Franchisee </a>
                        </li>
                        <li> 
                            <a href="">Gallery</a>
                        </li>
                        <li> 
                            <a href="">Blogs</a>
                        </li>
                        <li class="dropdown"> 
                            <a data-toggle="dropdown" href="#"> Pages <i class="fa fa-angle-down"  aria-hidden="true"></i></a>
                            <ul class="dropdown-menu">
                                <li><a href="">Register</a></li>
                                <li><a href="">Apply online</a></li>
                                <li><a href="">Blog</a></li>
                                <li><a href="">Latest News</a></li>
                                <li><a href="">Testimonials</a></li>
                                <li ><a href="">FAQs</a></li>
                            </ul>
                        </li>
                        <li> <a href="">Contact</a></li>
                    </ul>
                </div>
            </div>
        </nav>
        <!-- End Navigation -->
    </header>

    <!-- ==============================================
    ** Banner Carousel **
    =================================================== -->
    



        {% block content %}

          
        

        {% endblock %}




    <!-- ==============================================
    ** Footer **
    =================================================== -->
    <footer class="footer">
        <!-- Start Footer Top -->
        <div class="container">
            <div class="row row1">
                <div class="col-sm-9 clearfix">
                    <div class="foot-nav">
                        <h3>About US</h3>
                        <ul>
                            <li><a href="">Lorem ipsum dolor sit amet.</a></li>
                            <li><a href="">Lorem ipsum dolor sit amet.</a></li>
                            <li><a href="">Lorem ipsum dolor sit amet.</a></li>
                            <li><a href="">Lorem ipsum dolor sit amet consectetur adipisicing elit. Laboriosam, dolorum?</a></li>
                        </ul>
                    </div>
                    <div class="foot-nav">
                        <h3>Courses</h3>
                        <ul>
                            <li><a href="">Montessori TTC</a></li>
                            <li><a href="">Fashion Designing</a></li>
                            <li><a href="">Other Ahort Term Courses</a></li>
                        </ul>
                    </div>
                    <div class="foot-nav">
                        <h3>Why ABC Academy</h3>
                        <ul>
                            <li><a href="#">Introduction</a></li>
                            <li><a href="#">Learn Everywhere</a></li>
                            <li><a href="#">Modern Curriculum</a></li>
                            <li><a href="#">Placement Assistance</a></li>
                            <li><a href="#">Eligibility</a></li>
                        </ul>
                    </div>
                    <div class="foot-nav">
                        <h3>Learning Experience</h3>
                        <ul>
                            <li><a href="#">Course Preparations</a></li>
                            <li><a href="#">Guided lessons</a></li>
                            <li><a href="#">Interactive Practice</a></li>
                            <li><a href="#">Virtual Classroom</a></li>
                            <li><a href="#">Peer Learning</a></li>
                        </ul>
                    </div>
                </div>
                <div class="col-sm-3">
                    <div class="footer-logo hidden-xs">
                        <a href="index-2.html">
                            <img src="{% static 'images/abc.webp' %}" class="img-responsive" style="height: 50px;width: 200px;" alt="">
                        </a>
                    </div>
                </div>
            </div>
        </div>
        <!-- End Footer Top -->
    </footer>

    <!-- Scroll to top -->
    <a href="#" class="scroll-top"><i class="fa fa-chevron-up" aria-hidden="true"></i></a>

    <!-- Optional JavaScript -->
    <script src="{% static 'website/js/jquery.min.js' %}"></script>
    <script src="{% static 'website/assets/bootstrap/js/bootstrap.min.js' %}"></script>
    <script src="{% static 'website/assets/select2/js/select2.min.js' %}"></script>
    <script src="{% static 'website/assets/matchHeight/js/matchHeight-min.js' %}"></script>
    <script src="{% static 'website/assets/bxslider/js/bxslider.min.js' %}"></script>
    <script src="{% static 'website/assets/waypoints/js/waypoints.min.js' %}"></script>
    <script src="{% static 'website/assets/counterup/js/counterup.min.js' %}"></script>
    <script src="{% static 'website/assets/magnific-popup/js/magnific-popup.min.js' %}"></script>
    <script src="{% static 'website/assets/owl-carousel/js/owl.carousel.min.js' %}"></script>
    <script src="{% static 'website/js/modernizr.custom.js' %}"></script>
    <script src="{% static 'website/js/custom.js' %}"></script>
</body>

</html>