{% extends 'branch/master.html' %}
{% block content %}
{% load static %}

<div class="page-wrapper">
    <div class="content container-fluid">
        <div class="page-header">
            <div class="row align-items-center">
                <div class="col">
                    <h3 class="page-title">
                        Students
                    </h3>
                    <ul class="breadcrumb">
                        <li class="">
                            <a href="{% url 'branch:master' %}">Dashboard /</a>
                        </li>
                        <li class="breadcrumb-item active">
                           All Students
                        </li>
                    </ul>
                </div>
                <div class="col-auto text-end float-end ms-auto">
                    <a href="{% url 'branch:addstudent' %}" class="btn btn-primary"><i class="fas fa-plus"></i></a>
                </div>
            </div>
        </div>
        <div class="row">
            <div class="col-sm-12">
                <div class="card card-table">
                    <div class="card-body">
                        <div class="table-responsive">
                            <table class="table table-hover table-center mb-0 datatable">
                                <thead>
                                    <tr>
                                        <th>
                                            ID
                                        </th>
                                        <th>
                                            Name
                                        </th>
                                        <th>
                                            Course
                                        </th>
                                        <th>
                                            DOB
                                        </th>
                                        <th>
                                            Parent Name
                                        </th>
                                        <th>
                                           Email
                                        </th>
                                        <th>
                                            Mobile Number
                                        </th>
                                        <th>
                                            Address
                                        </th>
                                        <th class="text-end">
                                            Action
                                        </th>
                                    </tr>
                                </thead>
                                <tbody>
                                    {% for i in student %}
                                    <tr>
                                        <td>
                                           {{i.student_id}}
                                        </td>
                                        <td>
                                            <h2 class="table-avatar">
                                             
                                                <a href=""> {{i.first_name|capfirst}} {{i.last_name|capfirst}}</a>
                                            </h2>
                                        </td>
                                        
                                        <td>
                                            {{i.course.course.couse_name|upper}}
                                        </td>
                                        <td>
                                            {{i.dob}}
                                        </td>
                                        <td>
                                            {{i.fathername|capfirst}}
                                        </td>
                                        <td>
                                            {{i.email}}
                                        </td>
                                        <td>
                                            {{i.phone}}
                                        </td>
                                        <td>
                                            {{i.address|capfirst}}
                                        </td>
                                        <td class="text-end">
                                            <div class="actions">
                                                <a href="/branch/editstudent/{{i.id}}" class="btn btn-sm bg-success-light me-2">
                                                    <i class="fas fa-pen"></i>
                                                </a>
                                                <a href="{% url 'branch:deletestudent' i.id %}" class="btn btn-sm bg-danger-light">
                                                    <i class="fas fa-trash"></i>
                                                </a>
                                            </div>
                                        </td>
                                    </tr>
                                    {% endfor %}
                                </tbody>
                            </table>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>

{% endblock %}