{% extends 'branch/master.html' %}
{% block content %}
{% load static %}




<div class="page-wrapper">
    <div class="content container-fluid">
        <div class="page-header">
            <div class="row align-items-center">
                <div class="col">
                    <h3 class="page-title">
                        Fees
                    </h3>
                    <!-- <ul class="breadcrumb">
                        <li class="breadcrumb-item">
                            <a href="{% url 'branch:master'%}">Dashboard</a>
                        </li>
                        <li class="breadcrumb-item active">
                            Fees
                        </li>
                    </ul> -->
                </div>
                <div class="col-auto text-end float-end ms-auto">
                    <a href="{% url 'branch:addfees' %}" class="btn btn-primary"><i class="fas fa-plus"></i></a>
                </div>
            </div>
        </div>
        <div class="row">
            <div class="col-sm-12">
                <div class="card card-table">
                    <div class="card-body">
                        <div class="table-responsive">
                            <table class="table table-hover table-center mb-0 datatable">
                                <thead>
                                    <tr>
                                        <th>
                                            ID
                                        </th>
                                        <th>
                                            Student Name
                                        </th>
                                        <th>
                                            Course
                                        </th>
                                        <th>
                                            Amount
                                        </th>
                                        <th>
                                            Paid Date
                                        </th>
                                        <th>
                                            Start Date
                                        </th>
                                        <th>
                                            End Date
                                        </th>
                                        <!-- <th class="text-end">
                                            Action
                                        </th> -->
                                    </tr>
                                </thead>
                                <tbody>
                                    {% for i in paymentdets %}
                                    <tr>
                                        <td>
                                           {{i.student.student_id}}
                                        </td>
                                        <td>
                                            <h2 class="table-avatar">
                                             
                                                <a href="#"> {{i.student.first_name}}</a>
                                            </h2>
                                        </td>
                                        
                                        <td>
                                            {{i.student.course.course.couse_name}}
                                        </td>
                                        <td>
                                            {{i.paidamount}}
                                        </td>
                                        <td>
                                            {{i.paiddate}}
                                        </td>
                                        <td>
                                            {{i.student.course.starting_date}}
                                        </td>
                                        <td>
                                            {{i.student.course.ending_date}}
                                        </td>
                                        
                                        <!-- <td class="text-end">
                                            <div class="actions">
                                                <a href="/branch/editstudent/{{i.id}}" class="btn btn-sm bg-success-light me-2">
                                                    <i class="fas fa-pen"></i>
                                                </a>
                                                <a href="#" class="btn btn-sm bg-danger-light">
                                                    <i class="fas fa-trash"></i>
                                                </a>
                                            </div>
                                        </td> -->
                                    </tr>
                                    {% endfor %}
                                    


                                </tbody>
                                
                            </table>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>

<!-- <script>
    $(document).on('click', '#toggle_btn', function() {
if($('body').hasClass('mini-sidebar')) {
    $('body').removeClass('mini-sidebar');
    $('.subdrop + ul').slideDown();
} else {
    $('body').addClass('mini-sidebar');
    $('.subdrop + ul').slideUp();
}
setTimeout(function(){ 
    mA.redraw();
    mL.redraw();
}, 300);
return false;
});
$(document).on('mouseover', function(e) {
e.stopPropagation();
if($('body').hasClass('mini-sidebar') && $('#toggle_btn').is(':visible')) {
    var targ = $(e.target).closest('.sidebar').length;
    if(targ) {
        $('body').addClass('expand-menu');
        $('.subdrop + ul').slideDown();
    } else {
        $('body').removeClass('expand-menu');
        $('.subdrop + ul').slideUp();
    }
    return false;
}
});

</script> -->
{% endblock %}
