{% extends 'branch/master.html' %}
{% block content %}
{% load static %}

<div class="page-wrapper">
    <div class="content container-fluid">
        <div class="page-header">
            <div class="row align-items-center">
                <div class="col">
                    <h3 class="page-title">
                        Add Students
                    </h3>
                    <ul class="breadcrumb">
                        <li class="breadcrumb-item">
                            <a href="students.html">Students</a>
                        </li>
                        <li class="breadcrumb-item active">
                            Add Students
                        </li>
                    </ul>
                </div>
            </div>
        </div>
        <div class="row">
            <div class="col-sm-12">
                <div class="card">
                    <div class="card-body">
                        <form method="post" action="">
                            {% csrf_token %}
                            <div class="row">
                                <div class="col-12">
                                    <h5 class="form-title">
                                        <span>Student Information</span>
                                    </h5>
                                </div>
                                <div class="col-12 col-sm-6">
                                    <div class="form-group">
                                        <label>
                                            First Name
                                        </label>
                                        <input type="text" name="name" class="form-control">
                                    </div>
                                </div>
                                <div class="col-12 col-sm-6">
                                    <div class="form-group">
                                        <label>
                                            Last Name
                                        </label>
                                        <input type="text" name="lastname" class="form-control">
                                    </div>
                                </div>
                                <div class="col-12 col-sm-6">
                                    <div class="form-group">
                                        <label>
                                            Student Id
                                        </label>
                                        <input type="text" name="studentid" class="form-control">
                                    </div>
                                </div>
                                <div class="col-12 col-sm-6">
                                    <div class="form-group">
                                        <label>
                                            Gender
                                        </label>
                                        <select name="gender" class="form-control select">
                                            <option>
                                                Select Gender
                                            </option>
                                            <option value="Female">
                                                Female
                                            </option>
                                            <option value="Male">
                                                Male
                                            </option>
                                            <option value="Others">
                                                Others
                                            </option>
                                        </select>
                                    </div>
                                </div>
                                <div class="col-12 col-sm-6">
                                    <div class="form-group">
                                        <label>
                                            Course
                                        </label>
                                        <select name="course" class="form-control select" required>
                                            <option selected disabled>
                                                Select Subject
                                            </option>
                                            {% for i in course %}
                                            <option value="{{i.id}}">{{i.course.couse_name}}  {{i.starting_date}} to  {{i.ending_date}} </option>
                                            {% endfor %}
                                            <!-- <option value="AMI">AMI</option>
                                            <option value="MMI">MMI</option>
                                            <option value="PPTTC">PPTTC</option>
                                            <option value="FASION DESINGING">FASION DESINGING</option>
                                            <option value="BEAUTICIAN">BEAUTICIAN</option> -->
                                        </select>
                                    </div>
                                </div>
                                <div class="col-12 col-sm-6">
                                    <div class="form-group">
                                        <label>
                                            Date of Birth
                                        </label>
                                        <div>
                                            <input name="dob" type="date" class="form-control">
                                        </div>
                                    </div>
                                </div>
                                <!-- <div class="col-12 col-sm-6">
                                    <div class="form-group">
                                        <label>
                                            Course
                                        </label>
                                        <input type="text" class="form-control">
                                    </div>
                                </div> -->
                               
                              
                              
                                <div class="col-12 col-sm-6">
                                    <div class="form-group">
                                        <label>
                                            Mobile Number
                                        </label>
                                        <input type="text" name="phone" class="form-control">
                                    </div>
                                </div>
                                <!-- <div class="col-12 col-sm-6">
                                    <div class="form-group">
                                        <label>
                                            Student Image
                                        </label>
                                        <input type="file" class="form-control">
                                    </div>
                                </div> -->
                                <div class="col-12">
                                    <h5 class="form-title">
                                        <span>Login Details</span>
                                    </h5>
                                </div>
                               
                                <div class="col-12 col-sm-6">
                                    <div class="form-group" >
                                        <label>
                                            Email ID
                                        </label>
                                        <input type="email" name="email" class="form-control">
                                    </div>
                                </div>
                                <div class="col-12 col-sm-6">
                                    <div class="form-group">
                                        <label>
                                            Password
                                        </label>
                                        <input type="text" name="password" class="form-control">
                                    </div>
                                </div>
                                <div class="col-12 col-sm-6">
                                    <div class="form-group">
                                        <label>
                                            Repeat Password
                                        </label>
                                        <input type="text" class="form-control">
                                    </div>
                                </div>
                               
                               
                               
                                <div class="col-12">
                                    <h5 class="form-title">
                                        <span>Parent Information</span>
                                    </h5>
                                </div>
                                <div class="col-12 col-sm-6">
                                    <div class="form-group">
                                        <label>
                                            Father's Name
                                        </label>
                                        <input type="text" name="fathername" class="form-control">
                                    </div>
                                </div>
                              
                                <div class="col-12 col-sm-6">
                                    <div class="form-group">
                                        <label>
                                            Father's Mobile
                                        </label>
                                        <input type="text" name="fatherphone" class="form-control">
                                    </div>
                                </div>
                              
                              
                             
                               
                                <div class="col-12 col-sm-6">
                                    <div class="form-group">
                                        <label>
                                            Permanent Address
                                        </label>
                                        <textarea class="form-control" name="address"></textarea>
                                    </div>
                                </div>
                                <div class="col-12">
                                    <button type="submit" class="btn btn-primary">
                                        Submit
                                    </button>
                                </div>
                            </div>
                        </form>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>

{% endblock %}