{% extends 'branch/master.html' %}
{% block content %}
    {% load static %}
    <div class="page-wrapper">
        <div class="content container-fluid">
            <div class="page-header">
                <div class="row align-items-center">
                    <div class="col">
                        <h3 class="page-title">Teachers</h3>
                        <ul class="breadcrumb">
                            <li class="">
                                <a href="{% url 'branch:master' %}">Dashboard /</a>
                            </li>
                            <li class="breadcrumb-item active">Teachers</li>
                        </ul>
                    </div>
                    <div class="col-auto text-end float-end ms-auto">
                        <a href="{% url 'branch:addteacherbranch' %}" class="btn btn-primary"><i class="fas fa-plus"></i></a>
                    </div>
                </div>
            </div>
            <div class="row">
                <div class="col-sm-12">
                    <div class="card card-table">
                        <div class="card-body">
                            <div class="table-responsive">
                                <table class="table table-hover table-center mb-0 datatable">
                                    <thead>
                                        <tr>
                                            <th>ID</th>
                                            <th>Name</th>
                                            <th>Gender</th>
                                            <th>Course</th>
                                            <th>Email</th>
                                            <th>Mobile Number</th>
                                            <th>Address</th>
                                            <th class="text-end">Action</th>
                                        </tr>
                                    </thead>
                                    <tbody>
                                        {% for i in techerlist %}
                                            <tr>
                                                <td>{{ i.teacher_id }}</td>
                                                <td>
                                                    <h2 class="table-avatar">
                                                        <a href="">{{ i.name|capfirst }}</a>
                                                    </h2>
                                                </td>
                                                <td>{{ i.gender|capfirst }}</td>
                                                <td>{{ i.course.course.couse_name|upper }}</td>
                                                <td>{{ i.email }}</td>
                                                <td>{{ i.phone }}</td>
                                                <td>{{ i.address|capfirst }}</td>
                                                <td class="text-end">
                                                    <div class="actions">
                                                        <a href="/branch/editteacher/{{ i.id }}"
                                                           class="btn btn-sm bg-success-light me-2">
                                                            <i class="fas fa-pen"></i>
                                                        </a>
                                                        <a onclick="deleteTeacher('{{ i.id }}')"
                                                           class="btn btn-sm bg-danger-light">
                                                            <i class="fas fa-trash"></i>
                                                        </a>
                                                    </div>
                                                </td>
                                            </tr>
                                        {% endfor %}
                                    </tbody>
                                </table>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <script src="https://unpkg.com/sweetalert/dist/sweetalert.min.js"></script>
    <script>
    function deleteTeacher(id){
        swal({
  title: "Are you sure?",
  text: "Once deleted, you will not be able to recover this imaginary file!",
  icon: "warning",
  buttons: true,
  dangerMode: true,
})
.then((willDelete) => {
  if (willDelete) {
    swal("Poof! Your imaginary file has been deleted!", {
      icon: "success",
    });
    setTimeout(function () {
                    window.location.href="/branch/deleteteacher/"+id
                 }, 1000);
  } else {
    swal("Your imaginary file is safe!");
  }
});
    }
    </script>
{% endblock %}
